section.services {
	.tile {
		article {
			padding: 10px;
        }
        &.is-child {
            margin: 10px !important;
        }
    }
}
.navbar-blog {
	border-bottom: 3px solid #ccc;
	padding-bottom: 10px;
	background-color: #fff;
	padding-top: 20px;
	position: relative;
	top: -2.5vw;
	a {
		margin: auto;
		&:hover {
			font-size: 1.2em;
		}
	}
}
.category-name {
	font-size: 1.5em;
	font-variant: small-caps;
	color: #000;
	text-align: left;
}
.tag-name {
	font-size: 2em;
	font-variant: small-caps;
	color: #000;
	text-align: left;
	&::before {
		content: "#";
		font-size: 1em;
		color: #EB6113;
	}
}
@media only screen and (min-width: 780px) {
	.content {
		padding: 10%;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 610px) {
	.navbar-blog {
		top: -7vw;
	}
}
@media only screen and (max-width: 780px) {
	section.services {
		.tile {
			article {
				padding: 5vw;
			}
		}
	}
}
