_sass/* linguist-vendored
_site/* linguist-generated
.jekyl-cache/* linguist-generated
.vscode/* linguist-generated
.vs/* linguist-generated
.VSCodeCounter/* linguist-generated
.css.backup/* linguist-vendored
coverage/* linguist-generated
assets/css/brands.scss linguist-vendored
assets/css/bulma.scss linguist-vendored
assets/css/fontawesome.scss linguist-vendored
assets/css/solid.scss linguist-vendored
assets/css/fonts/* linguist-vendored
assets/js/*.min.js linguist-vendored
assets/js/lunr.js linguist-vendored