<section id="about" class="section second-subtitle">
    <h1>¿Quienes somos?</h1>
    <br />
    <button class="accordion">¿Qué buscamos?</button>
    <div class="panel">
        <p>{% include content/que-buscamos.html %}</p>
    </div>
    <br />
    <button class="accordion">Nuestra Misión</button>
    <div class="panel">
        <p>{% include content/vision.html %}</p>
    </div>
    <br />
    <button class="accordion">Nuestra Visión</button>
    <div class="panel">
        <p>{% include content/mission.html %}</p>
    </div>
</section>