{% assign about = site.data.about %}
<section id="about" class="section second-subtitle">
    <h1>{{ page.about_text }}</h1>
    <br />
    <div class="accordion-container">
        {% for element in about %}
        <button class="accordion">{{element.name}}</button>
        <div class="panel">
            {% for item in element.content %}
                {% if {{item.data}} contains "+image" %}
                    <div class="about-image">
                        <img src="{{item.data | remove: '+image '}}"/>
                    </div>
                {% else %}
                    {% if {{item.data}} contains "+caption" %}
                        <h3 class="about-caption">
                            {% if {{item.data}} contains "+author" %}
                                {{ item.data | remove: '+caption ' | replace: " +author ","<p class='about-author'>" }}
                                </p>
                            {% else %}
                                {{item.data | remove: '+caption '}}
                            {% endif %}
                        </h3>
                    {% else %}
                        <p>{{item.data}}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <br />
        {% endfor %}
    </div>
</section>