{% assign about = site.data.about %}
<section id="about" class="section my-10">
    <h2 class="mx-auto text-2xl text-center mb-10">Acerca de Nosotros</h2>   
    {% for element in about %}
    <div class="collapse collapse-arrow bg-base-300 mb-2 shadow">
        <input type="radio" name="my-accordion-2" /> 
        <div class="collapse-title text-xl font-medium">
            {{element.name}}
        </div>
        <div class="collapse-content"> 
        {% for item in element.content %}
            {% if {{item.card}} %}
                <div class="card card-compact w-96 bg-base-100 shadow-xl mx-auto my-6">
                    <figure><img src="{{ item.card.image }}" alt="Imagen de {{ item.card.caption }}" /></figure>   
                    <div class="card-body"> 
                        <h2 class="card-title">{{ item.card.caption }}</h2>   
                        <p>{{ item.card.author }}</p>
                    </div>
                </div>
            {% else %}
                <p class="prose text-left mx-auto my-4">{{item}}</p>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>