{% assign banner = site.data.banner-home %}
<section class="hero bg-accent">
  <div class="hero-content flex-col p-0 xs:p-1 lg:flex-row max-w-7xl lg:min-w-[75%] xl:min-w-[50%] my-10 lg:gap-x-10">
      <img class="hidden lg:block max-w-sm lg:max-w-[40%] flex-initial" src="/assets/images/logos/stacked.png">
      <img class="block lg:hidden max-w-sm flex-initial" src="/assets/images/logos/black.png">
      <div class="text-center lg:text-left">
        {% for element in banner.titles %}
          <h2 class="hidden lg:block text-4xl font-bold w-100 lg:mb-0">{{element}}</h2> 
        {% endfor %}
        <div class="py-3">
        {% for element in banner.subtitle %}
          <h3 class="font-bold">{{element}}</h3>
        {% endfor %}
        </div>
        <div class="py-3 me-auto text-sm text-neutral">
        {% for element in banner.extra %}
          <p class="py-1">{{element}}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<div class="spacer"></div>
