<section class="hero bg-base-300 mb-8">
    <div class="hero-content flex-col">
        <img class="block max-w-full md:max-w-md flex-initial" src="/assets/images/logos/black.png">
      </div>
  </section>
  <section class="hero bg-primary shadow-xl">
    <div class="hero-content flex-col">
        <div class="text-center my-4">
            <h2 class="text-3xl font-bold w-100 text-primary-content"><i class="fas fa-{{ page.icon }} me-2"></i>{{page.title}}</h2> 
        </div>
      </div>
  </section>
  <div class="spacer"></div>