{% assign text = site.data.footer %}
{% assign social = site.data.social %}

<footer class="footer p-10 bg-base-200 text-base-content">
    <aside>
        <img class="w-10"
        src="/assets/images/logos/square.svg"
    />
    {% for element in text %}
    <p class="max-w-md">
        {{element.content}}
    </p>
    {% endfor %}
    </aside> 
    <nav>
      <header class="footer-title">Comparte esta página</header> 
      <div class="flex-row">
        <a class="link link-hover px-1" href="whatsapp://send?text=<<{{Mira+esta+publicación+de+Nodo+Ambiental%3A+ | append: page.url | absolute_url}}>>" data-action="share/whatsapp/share">
            <i class="fa-brands fa-whatsapp"></i>
        </a>

        <a class="link link-hover px-1" href="https://telegram.me/share/url?url=<{{ page.url | absolute_url }}>&text=<Mira+esta+publicación+de+Nodo+Ambiental%3A>" >
            <i class="fa-brands fa-telegram"></i>
        </a>

        <a class="link link-hover px-1" href="http://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}" target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>

        <a class="link link-hover px-1"  href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | absolute_url }}" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>

        <a class="link link-hover px-1" href="http://reddit.com/submit?url={{ page.url | absolute_url }}&amp;title=Mira esta publicación de Nodo Ambiental:" target="_blank">
            <i class="fa-brands fa-reddit-alien"></i>
        </a>

        <a class="link link-hover px-1" href="http://www.tumblr.com/share/link?url={{ page.url | absolute_url }}&amp;title=Mira esta publicación de Nodo Ambiental:" target="_blank">
            <i class="fa-brands fa-tumblr"></i>
        </a>
            
        <a class="link link-hover px-1" href="https://twitter.com/share?url={{ page.url | absolute_url }}&amp;text={{Mira+esta+publicación+de+Nodo+Ambiental%3A}}&amp;hashtags=NodoAmbiental" target="_blank">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
      </div>
    </nav> 
    <nav>
      <header class="footer-title">Sociales</header> 
      <div class="flex-row">
      {% for item in social %}
          <a href="{{item.element[1].link}}"><i class="fa-brands fa-{{item.element[0].icon}} px-1"></i></a>
      {% endfor %}
    </div>
    </nav> 
  </footer>
  <footer class="footer p-2 pb-10 bg-base-200 text-base-content">
    <p class="text-center text-sm mx-auto">Última actualización del contenido: {{ page.last_modified_at | date: "%d/%m/%Y" }}</p>
  </footer>
