<footer>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child">
                Fundaci&oacute;n Nodo Ambiental 2019 
            </div>
            <div class="tile is-child">
                Para m&aacute;s informaci&oacute;n cont&aacute;ctanos  en correonodoambiental@gmail.com
            </div>
        </div>
    </div>
</footer>
    </body>
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/anime.min.js"></script>
<script src="/assets/js/script.js"></script>
</html>