{% assign text = site.data.footer %}
{% assign social = site.data.social %}

<div class="share-social">
    <h2 class="share-social-title">
        Comparte esta pagina:
    </h2>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="non-selectable tile is-child">
                <a class="share-social-link" href="whatsapp://send?text=<<{{Mira+esta+publicación+de+Nodo+Ambiental%3A+ | append: page.url | absolute_url}}>>" data-action="share/whatsapp/share">
                    <img class="share-social-icon" src="/assets/images/social/whatsapp.svg" alt="Whatsapp" />
                </a>

                <a class="share-social-link" href="http://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}" target="_blank">
                    <img class="share-social-icon" src="/assets/images/social/facebook.svg" alt="Facebook" />
                </a>
                
                <a class="share-social-link"  href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | absolute_url }}" target="_blank">
                    <img class="share-social-icon" src="/assets/images/social/linkedin.svg" alt="LinkedIn" />
                </a>
                
                <a class="share-social-link" href="http://reddit.com/submit?url={{ page.url | absolute_url }}&amp;title=Mira esta publicación de Nodo Ambiental:" target="_blank">
                    <img class="share-social-icon" src="/assets/images/social/reddit.svg" alt="Reddit" />
                </a>
                
                <a class="share-social-link" href="http://www.tumblr.com/share/link?url={{ page.url | absolute_url }}&amp;title=Mira esta publicación de Nodo Ambiental:" target="_blank">
                    <img class="share-social-icon" src="/assets/images/social/tumblr.svg" alt="Tumblr" />
                </a>
                 
                <a class="share-social-link" href="https://twitter.com/share?url={{ page.url | absolute_url }}&amp;text={{Mira+esta+publicación+de+Nodo+Ambiental%3A}}&amp;hashtags=NodoAmbiental" target="_blank">
                    <img class="share-social-icon" src="/assets/images/social/twitter.svg" alt="Twitter" />
                </a>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            {% for element in text %}
            <div class="non-selectable tile is-child">
                {{element.content}}
                {% if forloop.index0 == 0 %}
                    <br />
                    {% for item in social %}
                        <a href="{{item.element[1].link}}"><i class="fab fa-{{item.element[0].icon}} footer-social"></i></a>
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <h6>
        Última actualización del contenido: {{ page.last_modified_at | date: "%d/%m/%Y" }}
    </h6>
</footer>
</body>
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/anime.min.js"></script>
<script src="/assets/js/script.js"></script>
</html>