
<style type="text/css">
  @import url("/assets/css/license.css");
</style>

<section class="license">
  <button class="expandable_card">
    <div class="is-card">
      <div class="media project-accordion">
        <div
          class="media-content project-accordion-name"
        >
          <p style="font-size: 1.3rem" class="title is-12">
            <i class="project-accordion-icon fas fa-book"></i>Licencia
          </p>
        </div>
        <div class="media-right">
          <i class="expandable_card_button fas fa-caret-square-right"></i>
        </div>
      </div>
      <div class="content contracted">
        <div style="margin-top: 1em; background-color: #888; border-radius: 20px;">
          <h3>Licencia</h3>
          <a
            class="license-icons"
            rel="license"
            href="http://creativecommons.org/licenses/by-nc/4.0/"
            ><img
              alt="Licencia de Creative Commons"
              style="border-width: 0"
              src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" />
            <img
              alt="Atribución"
              style="border-width: 0"
              src="https://mirrors.creativecommons.org/presskit/icons/by.svg" />
            <img
              alt="No Comercial"
              style="border-width: 0"
              src="https://mirrors.creativecommons.org/presskit/icons/nc.svg"
          /></a>
          <p>
            Esta obra está bajo una
            <a
              rel="license"
              href="https://creativecommons.org/licenses/by-nc/4.0/deed.es_ES"
              >Licencia de Creative Commons Reconocimiento-NoComercial 4.0
              Internacional.</a
            >
          </p>
          <p>Usted es libre de:</p>
          <ul>
            <li>
              <p>Copiar y redistribuir el material en cualquier medio o formato</p>
            </li>
            <li>
              <p>Remezclar, transformar y crear a partir del material</p>
            </li>
          </ul>
        </div>        
      </div>
    </div>
  </a>
  
</section>
