<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://nodoambiental.org">
            <img src="/assets/images/logo_navigation.svg" width="128" height="48" style="max-height:3rem">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">

            <a href="#about" class="navbar-item">
                &iquest;Qu&eacute; es Nodo Ambiental?
            </a>

            <a href="#services" class="navbar-item">
                Servicios
            </a>

            <a href="#team" class="navbar-item">
                Equipo
            </a>

            <a href="#projects" class="navbar-item">
                Proyectos
            </a>

            <a href="/pages/documentation/main.html" class="navbar-item">
                Documentación
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Contactanos</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>