
<section class="section projects">
    <h1>Nuestros proyectos</h1>
    <h2>{{ page.projects_text }}</h2>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child projects-2">
                        <a href="./pages/projects/project2.html">
                            <div class="is-card">
                                <div class="media">
                                    <div class="media-left">
                                        <figure>
                                            <i class="fas fa-{{ page.projects_2_icon }}"></i>
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <a>
                                            <p class="title is-12">{{ page.projects_2_name }}</p>
                                        </a>
                                        <p class="subtitle is-6">{{ page.projects_2_teaser }}</p>
                                    </div>
                                </div>
                                <div class="content">
                                    {{ page.projects_2_content }}
                                    <br />
                                    <h2 style="text-align:left;" class="is-6">Objetivos</h2>
                                    {{ page.projects_2_target_1 }}
                                    <hr />
                                    {{ page.projects_2_target_2 }}
                                    <hr />
                                    {{ page.projects_2_target_3 }}
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child projects-1">
                        <a href="./pages/projects/project1.html">
                            <div class="is-card">
                                <div class="media">
                                    <div class="media-left">
                                        <figure>
                                            <i class="fas fa-{{ page.projects_1_icon }}"></i>
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <a>
                                            <p class="title is-12">{{ page.projects_1_name }}</p>
                                        </a>
                                        <p class="subtitle is-6">{{ page.projects_1_teaser }}</p>
                                    </div>
                                </div>
                                <div class="content">
                                    {{ page.projects_1_content }}
                                    <br />
                                    <h2 style="text-align:left;" class="is-6">Objetivos</h2>
                                    {{ page.projects_1_target_1 }}
                                    <hr />
                                    {{ page.projects_1_target_2 }}
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tile is-child projects-3">
                        <a href="./pages/projects/project3.html">
                            <div class="is-card">
                                <div class="media">
                                    <div class="media-left">
                                        <figure>
                                            <i class="fas fa-{{ page.projects_3_icon }}"></i>
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <a>
                                            <p class="title is-12">{{ page.projects_3_name }}</p>
                                        </a>
                                        <p class="subtitle is-6">{{ page.projects_3_teaser }}</p>
                                    </div>
                                </div>
                                <div class="content">
                                    {{ page.projects_3_content }}
                                    <br />
                                    <h2 style="text-align:left;" class="is-6">Objetivos</h2>
                                    {{ page.projects_3_target_1 }}
                                    <hr />
                                    {{ page.projects_3_target_2 }}
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>