{% assign projects = site.data.projects %}
<section id="projects" class="section projects">
    <h1>Nuestros proyectos</h1>
    <h2>{{ page.projects_text }}</h2>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-12 is-parent">
            {% for project in projects %}
            <article class="tile is-child projects-{{forloop.index}}">
                <a href="./pages/projects/{{project.name}}.html">
                    <div class="is-card">
                        <div class="media">
                            <div class="media-left">
                                <figure>
                                    {% capture svglocation %}font-awesome/solid/{{project.icon}}.svg{% endcapture %}
                                    {% include {{svglocation}} %}
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-12">{{ project.name }}</p>
                                <p class="subtitle is-6">{{ project.teaser }}</p>
                            </div>
                        </div>
                        <div class="content">
                            {{ project.description }}
                            <br />
                            <h2 style="text-align:left;" class="is-6">Objetivos</h2>
                            {% for element in project.target %}
                            <hr />
                            {{element.content}}
                            {% endfor %}
                        </div>
                    </div>
                </a>
            </article>
            {% endfor %}
        </div>
    </div>
</section>