<section class="section services">
    <h1>Nuestros servicios</h1>
    <h2>{{ page.services_text }}</h2>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child services-1">
                        <a href="./services1.html">
                            <div class="is-card">
                                <div class="media">
                                    <div class="media-left">
                                        <figure>
                                            <i class="fas fa-{{ page.services_1_icon }}"></i>
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-12">{{ page.services_1_name }}</p>
                                    </div>
                                </div>
                                <div class="content">
                                    {{ page.services_1_content }}
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tile is-child services-2">
                        <a>
                            <div class="is-card">
                                <div class="media">
                                    <div class="media-left">
                                        <figure>
                                            <i class="fas fa-{{ page.services_2_icon }}"></i>
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-12">{{ page.services_2_name }}</p>
                                    </div>
                                </div>
                                <div class="content">
                                    {{ page.services_2_content }}
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child services-3">
                        <a>
                            <div class="is-card">
                                <div class="media">
                                    <div class="media-left">
                                        <figure>
                                            <i class="fas fa-{{ page.services_3_icon }}"></i>
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-12">{{ page.services_3_name }}</p>
                                    </div>
                                </div>
                                <div class="content">
                                    {{ page.services_3_content }}
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>