<section id="team" class="section team">
    <h1>Nuestro equipo</h1>
    <h2>{{ page.team_text }}</h2>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child team-1">
                <div class="is-card">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image">
                                <img src="/assets/images/{{ page.team_1_image }}" />
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-12">{{ page.team_1_name }}</p>
                            <p class="subtitle is-12">{{ page.team_1_brief }}</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child team-6">
                <div class="is-card">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image">
                                <img src="/assets/images/{{ page.team_6_image }}" />
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-12">{{ page.team_6_name }}</p>
                            <p class="subtitle is-12">{{ page.team_6_brief }}</p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="tile is-child team-2">
                <div class="is-card">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image">
                                <img src="/assets/images/{{ page.team_2_image }}" />
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-12">{{ page.team_2_name }}</p>
                            <p class="subtitle is-12">{{ page.team_2_brief }}</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child team-3">
                <div class="is-card">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image">
                                <img src="/assets/images/{{ page.team_3_image }}" />
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-12">{{ page.team_3_name }}</p>
                            <p class="subtitle is-12">{{ page.team_3_brief }}</p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="tile is-child team-4">
                <div class="is-card">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image">
                                <img src="/assets/images/{{ page.team_4_image }}" />
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-12">{{ page.team_4_name }}</p>
                            <p class="subtitle is-12">{{ page.team_4_brief }}</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child team-5">
                <div class="is-card">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image">
                                <img src="/assets/images/{{ page.team_5_image }}" />
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-12">{{ page.team_5_name }}</p>
                            <p class="subtitle is-12">{{ page.team_5_brief }}</p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="tile is-child team-7">
                <div class="is-card">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image">
                                <img src="/assets/images/{{ page.team_7_image }}" />
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-12">{{ page.team_7_name }}</p>
                            <p class="subtitle is-12">{{ page.team_7_brief }}</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>