{% assign team = site.data.team %}

<section id="team" class="section my-10">
    <h2 class="mx-auto text-2xl text-center mb-4">Nuestro equipo</h2>
    <h3 class="mx-auto text-xl text-center mb-10">{{ page.team_text }}</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-10">
    {% for person in team %}
        <div class="card bg-base-100 shadow-xl">
            <figure class="aspect-square">
                {% assign photo_path = "/assets/images/team/%%%.png" | replace: "%%%", person.name %}
                {% assign photo = site.static_files | where: "path", photo_path %}
                {% if {{photo.size}} == 1 %}
                    <img src="{{ photo_path }}" /> 
                {% else %}
                    <img src="/assets/images/team/default.png" />
                {% endif %}
            </figure>
            <div class="card-body">
                <h2 class="card-title text-center">{{person.name}}</h2>
                {% if {{person.role}} %}
                <p class="italic">
                    {{person.role}}
                </p> 
            {% endif %}
                <div class="card-actions justify-start">
                {% if {{person.description}} %}
                <p class="text-sm">
                    {{person.description}}
                </p> 
            {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>