{% assign team = site.data.team %}
<section id="team" class="section team">
    <h1>Nuestro equipo</h1>
    <h2>{{ page.team_text }}</h2>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
            {% for person in team %}
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child team-{{forloop.index}}">
                        <div class="is-card">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="team">
                                        <img src="/assets/images/team/{{person.name}}.png" />
                                    </figure>
                                </div>
                            </div>
                            <p class="title is-12">{{person.name}}</p>
                            <h2 class="team-subtitle">{{ person.description }}</h2>
                        </div>
                    </article>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>