---
---

@font-face {
	font-family: 'Poppins';
	src: local('Poppins Italic'), local('Poppins-Italic'), url('./fonts/poppins/Poppins-Italic.woff2') format('woff2'), url('./fonts/poppins/Poppins-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url('./fonts/poppins/Poppins-BoldItalic.woff2') format('woff2'), url('./fonts/poppins/Poppins-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: local('Poppins Regular'), local('Poppins-Regular'), url('./fonts/poppins/Poppins-Regular.woff2') format('woff2'), url('./fonts/poppins/Poppins-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: local('Poppins Bold'), local('Poppins-Bold'), url('./fonts/poppins/Poppins-Bold.woff2') format('woff2'), url('./fonts/poppins/Poppins-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'CC demo';
	src: local('CC demo medium'), local('CCdemo-medium'), url("/assets/css/fonts/cc/CCdemo-medium.woff") format('woff'), url("/assets/css/fonts/cc/CCdemo-medium.woff2") format('woff2');
	font-weight: 500;
	font-style: normal;
}
