/* General Styling */

form {
    margin: auto;
}

.form.js {
    display:none;
}

label:not(.checkbox-label) {
    padding: 10px;
    display: block;
    text-align: left;
    margin: auto;
    margin-left: 10%;
}

    label:not(.checkbox-label):before {
        content: ">>> ";
        font-weight: 100;
        color: #cf4b00;
    }

    label[for=subscribe] {
        padding: 20px;
        display: inline;
        text-align: center;
        margin: auto;
    }

        label[for=subscribe]:after {
            content: "";
        }


        label[for=subscribe]:before {
            content: "";
        }


/* Checkbox from https://www.appitventures.com/blog/styling-checkbox-css-tips */

.checkbox-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    width: 24px;
    clear: both;
    left: 310px;
    top: 2px;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 20px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: all 0.3s ease-out;
    -webkit-transform: translateX(-15px) translateY(-20px) scale(1);
    -ms-transform: translateX(-15px) translateY(-20px) scale(1);
    transform: translateX(-15px) translateY(-20px) scale(1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #cf4b00;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #cf4b00;
    border-radius: 5px;
    -webkit-transform: translateX(-25px) translateY(-30px) scale(1);
    -ms-transform: translateX(-25px) translateY(-30px) scale(1);
    transform: translateX(-25px) translateY(-30px) scale(1);
    opacity:1;
    border: 2px solid #FFFFFF;
    height: 40px;
    width: 40px;
}


.checkbox-label .checkbox-custom::after {    
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    border: solid #cf4b00;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    line-height: 35px;
    font-size: 20px;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
    position: absolute;
    content: "✔️";
    left: 25px;
    top: 25px;
    height: 0px;
    width: 0px;
    -webkit-transform: scale(1) translateX(-5px) translateY(-5px);
    -ms-transform: scale(1) translateX(-5px) translateY(-5px);
    transform: scale(1) translateX(-5px) translateY(-5px);
    opacity: 1;
    left: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
    border: solid #cf4b00;
    border-radius: 50%;
    background-color: #FFF;
}

.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #cf4b00;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

input[type=button] {
    transition-duration: 400ms;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    background-color: #FFF;
    margin: auto;
}

    input[type=button]:hover {
        padding: 10px;
        background-color: #cf4b00;
        color: #fff;
        cursor: pointer;
    }

input[type=text] {
    transition-duration: 400ms;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    width: 90%
}

    input[type=text]:focus {
        padding: 10px;
        background-color: #cf4b00;
        color: #fff;
    }

input[type=email] {
    transition-duration: 400ms;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 90%
}

    input[type=email]:focus {
        padding: 10px;
        background-color: #cf4b00;
        color: #fff;
    }

textarea {
    transition-duration: 400ms;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
}

    textarea:focus {
        padding: 10px;
        border: 3px solid #cf4b00;
    }

.required-field {
    color: red;
}

/* Media queries */

@media only screen and (min-width: 1600px) {

    textarea {
        width: 66ch;
    }

    input[type=email] {
        width: 66ch;
    }

    input[type=text] {
        width: 66ch;
    }

    label:not(.checkbox-label) {
        padding: 10px;
        display: block;
        text-align: left;
        margin: auto;
        margin-left: calc(0.5625 * 55vw);
    }

    section.form p {
        margin: auto!important;
    }

    section.form > :first-child {
        width: 66ch;
        position: relative;
        margin-bottom: 30px;
    }

    #leadgen-form > .checkbox-container {
        position: relative;
        left: -20px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1600px)  {

    textarea {
        width: 66ch;
    }

    input[type=email] {
        width: 66ch;
    }

    input[type=text] {
        width: 66ch;
    }

    label:not(.checkbox-label) {
        padding: 10px;
        display: block;
        text-align: left;
        margin: auto;
        margin-left: calc(0.5625 * 50vw);
    }

    section.form p {
        margin: auto!important;
    }

    section.form > :first-child {
        width: 66ch;
        position: relative;
        margin-bottom: 30px;
    }

    #leadgen-form > .checkbox-container {
        position: relative;
        left: -25px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    textarea {
        width: 66ch;
    }

    input[type=email] {
        width: 66ch;
    }

    input[type=text] {
        width: 66ch;
    }

    label:not(.checkbox-label) {
        padding: 10px;
        display: block;
        text-align: left;
        margin: auto;
        margin-left: calc(0.5625 * 30vw);
    }

    section.form p {
        margin: auto!important;
    }

    section.form > :first-child {
        width: 66ch;
        position: relative;
        margin-bottom: 30px;
    }

    #leadgen-form > .checkbox-container {
        position: relative;
        left: -25px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1024px)  {
    .content {
        padding: 10%;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: 110px;
        height: calc(0.5625 * 45vw);
        width: 100%;
    }

    textarea {
        width: 66ch;
    }

    input[type=email] {
        width: 66ch;
    }

    input[type=text] {
        width: 66ch;
    }

    label:not(.checkbox-label) {
        padding: 10px;
        display: block;
        text-align: left;
        margin: auto;
        margin-left: calc(0.5625 * 30vw);
    }

    section.form p {
        margin: auto!important;
    }

    section.form > :first-child {
        width: 66ch;
        position: relative;
        margin-bottom: 30px;
    }

    #leadgen-form > .checkbox-container {
        position: relative;
        left: -20px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px)  {
    .content {
        padding: 10%;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: 110px;
        height: calc(0.5625 * 45vw);
        width: 100%;
    }

    textarea {
        width: 70%;
    }

    input[type=email] {
        width: 70%;
    }

    input[type=text] {
        width: 70%;
    }

    label:not(.checkbox-label) {
        padding: 10px;
        display: block;
        text-align: left;
        margin: auto;
        margin-left: 10%;
    }

    section.form > :first-child {
        width: 80%;
        position: relative;
        margin-bottom: 30px;
    }

    #leadgen-form > .checkbox-container {
        position: relative;
        left: -30px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {

    h2.main-title {
        margin-bottom: 30px;
        margin-top: -10px;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: 110px;
        height: calc(0.5625 * 45vw);
        width: 100%;
    }

    textarea {
        width: 90%;
    }

    input[type=email] {
        width: 90%;
    }

    input[type=text] {
        width: 90%;
    }

    label:not(.checkbox-label) {
        padding: 10px;
        display: block;
        text-align: left;
        margin: auto;
        margin-left: -4%;
    }

    section.form > :first-child {
        width: 90%;
        position: relative;
        left: -30px;
        margin-bottom: 30px;
    }

    #leadgen-form  :first-child {
        position: relative;
        left: 0px;
    }

    #leadgen-form > .checkbox-container > .checkbox-label {
        position: relative;
        left: calc(30% + 15px);
        top: 45px;
    }

    #leadgen-form > :nth-child(6) span.checkbox-custom {
        left: 20px;
        top: 1px;
    }

    #leadgen-form > :nth-child(7) span.checkbox-custom {
        left: 20px;
        top: 0.5em;
    }

    #leadgen-form > .checkbox-container {
        margin: auto;
        width: 90%;
        margin-left: calc(10%);
    }

    #leadgen-form > .checkbox-container > div.input-title {
        width: 75%;
        text-align: center;
        position:relative;
        left: 5%;
    }

    #form-send {
        margin-top: 20px;
    }

    div.share-social div.is-child > a > img {
        width: calc(0.5625 * 15vw);
    }
}

@media only screen and (max-width: 400px) {

    h2.main-title {
        margin-bottom: 30px;
        margin-top: -10px;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: 110px;
        height: 100px;
        width: 100%;
    }

    textarea {
        width: 90%;
    }

    input[type=email] {
        width: 90%;
    }

    input[type=text] {
        width: 90%;
    }

    label:not(.checkbox-label) {
        padding: 10px;
        display: block;
        text-align: left;
        margin: auto;
        margin-left: -4%;
    }

    section.form > :first-child {
        width: 100%;
        position: relative;
        left: -30px;
    }

    #leadgen-form  :first-child {
        position: relative;
        left: 0px;
    }

    #leadgen-form > :nth-child(6) span.checkbox-custom {
        left: 150px;
        top: 45px
    }

    #leadgen-form > :nth-child(7) span.checkbox-custom {
        left: 150px;
        top: calc(45px + 0.5em)
    }

    #leadgen-form > .checkbox-container {
        margin: auto;
    }

    #leadgen-form > .checkbox-container > div.input-title {
        width: 90%;
    }

    #form-send {
        margin-top: 20px;
    }

    div.share-social div.is-child > a > img {
        width: calc(0.5625 * 15vw);
    }
}
