/* License */

@font-face {
    font-family: 'CC demo';
    src: local('CC demo medium'), local('CCdemo-medium'),
        url("/assets/css/fonts/cc/CCdemo-medium.woff") format('woff'),
        url("/assets/css/fonts/cc/CCdemo-medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.license {
    width: 90%;
    margin: auto;
}

.license h3 {
    padding-top: 20px;
    font-family: 'CC demo';
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 3em;
    margin-bottom: 10px;
    color: black;
}

.license button.expandable_card {
	background: none;
	border: none;
	width: 100%;
	margin-bottom: 35px;
}

.license-icons {
    margin: auto;
    display: block;
    width: 250px;
    margin-bottom: 20px;
    transition-duration: 400ms;
    border: none;
}

.license-icons:hover {
    transform: scale(1.1);
    border:none;
    background-color: rgba(235, 97, 19,0.9);
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.license-icons img {
    padding: 5px;
}

.license .content ul {
    margin-left: 80px;
}

div.content div > p {
    color: black;
    font-family: 'CC demo';
    font-size: 1.2em;
    width: 80%;
    text-align: center;
}

div.content div > p a:not(.license-icons) {
    border: none;
    border-bottom: 1px dashed white;
    color: #fff;
    transition-duration: 400ms;
}

div.content div > p a:not(.license-icons):hover {
    border: none;
    border-bottom: 3px solid rgba(232, 162, 123,0.9);
    font-style: normal;
}

div.content div p + ul {
    margin-top: 30px;
    padding-bottom: 40px;
    width: 70%;
}

div.content div p + ul p {
    color: black;
    margin: 10px;
}

div.content div p + ul li {
    margin-left: 20%;
    border-left: 2px solid black;
}

div.content div p + ul li::marker {
    color: #fff;
    font-weight: 600;
}

div.content div p + ul li:first-child {
    list-style-type: "Compartir  ";
}

div.content div p + ul li:nth-child(2) {
    list-style-type: "Adaptar  ";
}