/* General Styling */

@import url("cards.css");

p, ul, li, h2:not(.share-social-title):not(.main-title), h3, h4 {
    text-align: left;
    margin: auto;
}

p > img {
    border-radius: 20px;
    background-color: white;
    border: 3px solid #eee;
    text-align: center;
}

.content a:not(.share-social-link):not(.license-icons) {
    border-bottom: 1px dotted #EB6113;
    transition-duration:400ms;
    word-wrap: break-word;
}

.content a:hover {
    color: #EB6113;
    font-style: italic;
    border-bottom: 1px dotted black;
}

.content a img :not(.share-social-icon){
    border-radius: 0px;
    background-color: white;
}

.project-subtitle {
    position: absolute;
    top: 45%;
    left: 60%;
}

h1.main-title {
    position: relative;
    top: 10%;
}

.divider {
    border-bottom: 3px solid #ccc;
    width: 80%;
    margin: auto;
}

/* Infograph */

.infograph img {
    border-radius: 20px;
    box-shadow: 0 0 0 0.5em #bbb;
    width: 100%;
}

.infograph-text p {
    /*! text-align: left; */
    padding: 10%;
    margin-top: calc(200px - 15vw);
}

/* TOS */

section.content {
    text-align: left;
    padding: 10%;
    margin-top: calc(200px - 15vw);
}

    section.content li {
        list-style: circle;
        font-size: 120%;
        padding: 10px;
    }

    section.content p {
        padding: 10px;
    }

/* Table Formatting */

table img {
    border-radius: 20px;
    border: 1px solid #ccc;
}

table a img {
    border-radius: 5px;
    border: none;
}

table thead {
    background-color: #eee;
    border-bottom: 3px solid #aaa;
}

table thead th:not(:first-child) {
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tbody tr {
    text-align: center;
    display: table-row;
}

table tbody tr td {
    text-align: center;
    display: table-cell;
    vertical-align: middle!important;
}

/* Media Queries */

@media only screen and (max-width: 720px) {
}

@media only screen and (min-width: 1024px) {

    .content {
        padding: 10%;
    }

    .info {
        background-color: #eee;
        width: 90%;
        border-radius: 20px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    p > img {   
        width: 60%;
        margin-left: 20%;
    }
    
    section.content {
        width: calc(75ch + 20%);
        margin: auto;
    }
    
    section.content img {
        width: 100%;
        margin: 0;
    }
    
    section.main-title img {
        width: 40%;
        display: block;
        margin: auto;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: 18%;
        height: 100px;
        width: 100%;
    }

    div.tile.is-ancestor {
        margin-left: 10%;
        margin-right: 10%;
    }

    .accordion {
        margin: auto;
        margin-bottom: 20px;
        width: 70%;
    }

    .media-content {
        overflow: hidden;
    }

    section.team .tile {
        justify-content: flex-start;
    }

    section.team h2 {
        padding-bottom: 40px;
    }
    
    
    
    section.content h1 {
        font-size: 1.5rem;
        margin-top: -50px;
        padding: 10px;
        margin-bottom: 40px;
    }
    
    section.content h2 {
        padding-bottom: 20px;
        font-size: 1.3em;
    }
    
    section.content ul {
        margin: 0;
        margin-left: 10px;
    }
    
    section.content ul li {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    section.content ul li::marker {
        color: #eb6113;
        content: "\3e";
        font-weight: 900;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {

    .info {
        width: 80%;
    }
    
    section.section.content {
        width: calc(65ch);
        padding: 40px;
        margin: auto;
        font-size: 1.1em;
    }
    
    section.content img {
        width: 100%;
        margin: 0;
    }

    section.services .tile p.title {
        font-size: 1.3em;
        line-height: 1em;
    }

    section.projects .tile p.title {
        font-size: 1.3em;
        line-height: 1em;
    }

    div.is-card i {
        font-size: 2.2em;
    }

    article div.content {
        line-height: 1.3em;
    }

    section.main-title img {
        width: 70%;
        display: block;
        margin: auto;
    }

    section#about {
        margin-top: 40px;
    }
    
    section.content ul li {
        font-size: 1em;
    }

    section.content img {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    section.content h1 {
        font-size: 1.5rem;
        margin-top: -50px;
        padding: 10px;
        margin-bottom: 40px;
    }
    
    section.content h2 {
        padding-bottom: 20px;
        font-size: 1.3em;
    }
    
    section.content ul {
        margin: 0;
        margin-left: 10px;
    }
    
    section.content ul li {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    section.content ul li::marker {
        color: #eb6113;
        content: "\3e";
        font-weight: 900;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: 400px;
        height: 100px;
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {

    
    .infograph {
        margin-top: 140px;
    }

    .project-subtitle {
        position: absolute;
        top: 45%;
        left: 55%;
    }
    table thead tr th {
        text-align: center;
        display: block;
        margin: 5px;
        margin-top: -1px;
        margin-bottom: 0px;
        border-bottom: 1px dashed #aaa!important;
        border-top: 1px dashed #aaa!important;
    }
    
    table thead tr th:first-child {
        margin-top: 5px;
    }
    table thead tr th:last-child {
        margin-bottom: 5px;
    }
    
    table tbody tr:not(odd) {
        background-color: white;
    }
    
    table tbody tr td {
        display: block;
        margin: 5px;
        border-block-style: dashed!important;
        border-color: #aaa!important; 
    }

    h1.main-title {
        position: relative;
        top: 15%;
        font-size: 1.6em;
    }

    section.main-title img {
        width: 90%;
        display: block;
        margin: auto;
    }
    
    section.section.content {
        width: calc(65ch);
        padding: 40px;
        margin: auto;
    }
    
    section.content img {
        width: 100%;
        margin: 0;
    }

    section.services .tile p.title {
        font-size: 1.3em;
        line-height: 1em;
    }

    section.projects .tile p.title {
        font-size: 1.3em;
        line-height: 1em;
    }

    div.is-card i {
        font-size: 2.2em;
    }

    article div.content {
        line-height: 1.3em;
    }

    section.main-title img {
        width: 70%;
        display: block;
        margin: auto;
    }

    section#about {
        margin-top: 40px;
    }
    
    section.content h1 {
        font-size: 1.5rem;
        margin-top: -50px;
        padding: 10px;
        margin-bottom: 40px;
    }
    
    section.content h2 {
        padding-bottom: 20px;
        font-size: 1.3em;
    }
    
    section.content ul {
        margin: 0;
        margin-left: 10px;
    }
    
    section.content ul li {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    section.content ul li::marker {
        color: #eb6113;
        content: "\3e";
        font-weight: 900;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: 55%;
        height: 100px;
        width: 100%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {

    
    .infograph {
        margin-top: 200px;
    }

    .project-subtitle {
        position: absolute;
        top: 40%;
        font-size: 1.6em;
    }
    
    section.main-title {
        padding: 0;
        font-size: 0.75em;
    }
    section.main-title img {
        padding-top: 20px;
        width: 90%;
        display: block;
        margin: auto;
    }
    
    section.section.content {
        padding: 30px;
        font-size: 0.95em;
        line-height: 1.7em;
        width: 100%;
        margin: auto;
    }
    
    section.content img {
        width: 100%;
        margin: 0;
    }

    section.services .tile p.title {
        font-size: 1.3em;
        line-height: 1em;
    }

    section.projects .tile p.title {
        font-size: 1.3em;
        line-height: 1em;
    }

    div.is-card i {
        font-size: 2.2em;
    }

    article div.content {
        line-height: 1.3em;
    }

    section.main-title img {
        width: 70%;
        display: block;
        margin: auto;
    }

    section#about {
        margin-top: 40px;
    }
    
    section.content h1 {
        font-size: 1.5rem;
        margin-top: -50px;
        padding: 10px;
        margin-bottom: 40px;
    }
    
    section.content h2 {
        padding-bottom: 20px;
        font-size: 1.3em;
    }
    
    section.content ul {
        margin: 0;
        margin-left: 10px;
    }
    
    section.content ul li {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    section.content ul li::marker {
        color: #eb6113;
        content: "\3e";
        font-weight: 900;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: 270px;
        height: 100px;
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    
    section.main-title {
        padding: 0;
    }
    
    section.main-title img {
        width: 90%;
        padding: 10px;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
    
    section.section.content {
        padding: 20px;
        font-size: 0.9em;
        line-height: 1.6em;
        width: 100%;
        margin: auto;
    }
    
    section.main-title h1 {
        top: 10%;
    }
    
    section.content ul li {
        font-size: 1em;
    }

    section.content img {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    section.content h1 {
        font-size: 1.5rem;
        margin-top: -50px;
        padding: 10px;
        margin-bottom: 40px;
    }
    
    section.content h2 {
        padding-bottom: 20px;
        font-size: 1.3em;
    }
    
    section.content ul {
        margin: 0;
        margin-left: 10px;
    }
    
    section.content ul li {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    section.content ul li::marker {
        color: #eb6113;
        content: "\3e";
        font-weight: 900;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: 400px;
        height: 100px;
        width: 100%;
    }
}