/* General Styling */

p, ul, li, h2, h3, h4 {
    text-align: left;
}

.project-subtitle {
    position: absolute;
    top: 45%;
    left: 60%;
}

h1.main-title {
    position: relative;
    top: 10%;
}

.divider {
    border-bottom: 3px solid #ccc;
    width: 80%;
    margin: auto;
}

/* Infograph */

.infograph img {
    border-radius: 20px;
    box-shadow: 0 0 0 0.5em #bbb;
    width: 100%;
}

.infograph-text p {
    padding: 30px;
}

/* TOS */

section.tos {
    text-align: left;
    padding: 10%;
}

    section.tos li {
        list-style: circle;
        font-size: 120%;
        padding: 20px;
    }

    section.tos p {
        padding: 10px;
    }

/* Media Queries */

@media only screen and (min-width: 780px) {
    .content {
        padding: 10%;
    }

    .info {
        background-color: #eee;
        width: 90%;
        border-radius: 20px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}


@media only screen and (min-width: 780px) {
    .info {
        width: 80%;
    }
}

    @media only screen and (max-width: 720px) {
        .infograph {
            margin-top: 40px;
        }
    }


    @media only screen and (max-width: 400px) {
        .project-subtitle {
            position: absolute;
            top: 40%;
            left: 50%;
        }

        h1.main-title {
            position: relative;
            top: 15%;
        }
    }
