@media only screen and (min-width: 780px) {
    .content {
        padding: 10%;
    }
}



p, ul, li, h2, h3, h4 {
    text-align: left;
}


.project-subtitle {
    position: absolute;
    top: 45%;
    left: 60%;
}

h1.main-title {
    position: relative;
    top: 10%;
}