---
---

// FIXME Fix team card stagger
// FIXME Fix mobile medium size nav bar alignment
// FIXME Fix spacings

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/* Framework */
@import "bulma.css";
/* Fonts */
@import "fonts.css";
@import "fontawesome.css";
@import "solid.css";
@import "brands.css";
@mixin keyframes($main_title) {
    @-webkit-keyframes #{$main_title} {
        0% {
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes #{$main_title} {
        0% {
        }
        100% {
            opacity: 1;
        }
    }
}
body {
	text-align: center;
	background: -o-repeating-linear-gradient(135deg, #eee, #eee 2px, #fff 2px, #fff 10px);
	background: repeating-linear-gradient(-45deg, #eee, #eee 2px, #fff 2px, #fff 10px);
	background-attachment: fixed;
}
h2 {
	font-size: 120%;
	width: 100%;
	margin: auto;
}
.js {
	.expanded {
		display: inherit;
		height: inherit;
		-webkit-transition-duration: 400ms;
		-o-transition-duration: 400ms;
		transition-duration: 400ms;
	}
	.contracted {
		display: none;
		-webkit-transition-duration: 400ms;
		-o-transition-duration: 400ms;
		transition-duration: 400ms;
	}
	.navbar {
		-webkit-box-shadow: 1px 0 3px 1px #333;
		box-shadow: 1px 0 3px 1px #333;
		-webkit-transition-duration: 400ms;
		-o-transition-duration: 400ms;
		transition-duration: 400ms;
	}
	a.navbar-item {
		-webkit-transition-duration: 400ms;
		-o-transition-duration: 400ms;
		transition-duration: 400ms;
		padding: 5px;
	}
	.navbar-brand {
		.navbar-item {
			path {
				width: 48px;
				-webkit-transition-duration: 400ms;
				-o-transition-duration: 400ms;
				transition-duration: 400ms;
			}
			&:hover {
				path {
					fill: rgba(0,150,0,1);
				}
			}
		}
	}
	.navbar-menu {
		a.navbar-item {
			&:not(:last-child) {
				&:after {
					content: "|";
					position: relative;
					left: 5px;
					-webkit-transform: scaleY(2);
					-ms-transform: scaleY(2);
					transform: scaleY(2);
					color: #EB6113;
				}
			}
		}
	}
	.navbar-start {
		a.navbar-item {
			&:hover {
				background-color: rgba(0,0,0,0.05);
				color: #EB6113;
				padding-left: 10px;
				padding-right: 10px;
				&:after {
					position: relative;
					-webkit-transform: scaleY(2) translateX(7px) !important;
					-ms-transform: scaleY(2) translateX(7px) !important;
					transform: scaleY(2) translateX(7px) !important;
				}
			}
		}
		&:last-child {
			padding-left: 10px;
			padding-right: 10px;
			-webkit-transition-duration: 400ms;
			-o-transition-duration: 400ms;
			transition-duration: 400ms;
			&:hover {
				i {
					-webkit-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
				}
			}
		}
	}
	.navbar-end {
		.navbar-item {
			padding: 5px;
			a {
				padding: 5px;
				-webkit-transition-duration: 400ms;
				-o-transition-duration: 400ms;
				transition-duration: 400ms;
				font-size: 16px;
				&:hover {
					background-color: #EB6113;
				}
			}
		}
	}
	.accordion {
		background-color: #eee;
		color: #444;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		text-align: left;
		border: none;
		outline: none;
		-webkit-transition: 0.4s;
		-o-transition: 0.4s;
		transition: 0.4s;
		border-radius: 10px;
		margin-bottom: 20px;
		font-size: 140%;
		&:after {
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "\f078";
			font-size: 30px;
			color: #777;
			float: right;
			margin-left: 5px;
		}
	}
	.active {
		background-color: #ccc;
		&:after {
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: "\f077";
		}
	}
	.panel {
		display: none;
		overflow: hidden;
		border-radius: 20px;
		width: 80%;
		margin: auto;
		background-color: #fff;
		border: 2px solid #eee;
	}
	a.hashtag {
		color: #cf4b00;
		&:hover {
			color: #ff5c00;
			border-bottom: 1px dashed #999;
		}
	}
}
.title {
	word-break: normal;
}
a {
	text-decoration: none;
	color: inherit;
}
div.tile {
	a {
		text-decoration: none !important;
	}
	article {
		&:hover {
			border-radius: 20px;
			border: 10px solid rgba(255, 255, 255, 0.5);
		}
	}
}
article.tile {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 30px;
}
article {
	border: 3px solid #ccc;
	-webkit-transition-duration: 2s;
	-o-transition-duration: 2s;
	transition-duration: 2s;
}
div.is-card {
	figure {
		margin: 5%;
		font-size: calc(5 * 0.5625 * 1vw);
	}
	i {
		font-size: 3.2em;
	}
}
.footer-social {
	font-size: 1.5em;
	padding: 5px;
	&:hover {
		color: #eb6113;
		font-size: 1.8em;
	}
}
footer {
	.tile {
		padding: 10px;
	}
	background-color: #363636;
	color: white;
	padding-top: 60px;
	padding-bottom: 60px;
}
article.is-child {
	img {
		border-radius: 20px;
	}
}
h1.main-title {
	text-align: center;
	font-size: 2.2em;
	padding: 30px;
	padding-top: 0;
}
h2.main-title {
	text-align: center;
	font-size: 1.3em;
	padding-left: 10%;
	padding-right: 10%;
}
.section.main-title {
	h2.subtitle {
		font-size: 100%;
		line-height: 90%;
	}
}
section.main-title {
	-webkit-box-shadow: 1px 0 3px 1px #333;
	box-shadow: 1px 0 3px 1px #333;
	background-image: -o-linear-gradient(45deg, #33cc99, #33cccc, #3399cc);
	background-image: linear-gradient(45deg, #33cc99, #33cccc, #3399cc);
	-webkit-animation: main_title alternate infinite 2000ms;
	animation: main_title alternate infinite 2000ms;
	z-index: 99;
	display: block;
	position: absolute;
	width: 100%;
	&::before {
		background-image: -o-linear-gradient(45deg, #66cc33, #33cc33, #33cc66);
		background-image: linear-gradient(45deg, #66cc33, #33cc33, #33cc66);
		content: "";
		z-index: -99;
		-webkit-transition: opacity 0.45s;
		-o-transition: opacity 0.45s;
		transition: opacity 0.45s;
		animation: main_title alternate-reverse infinite 3000ms;
		display: block;
		height: 100%;
		position: absolute;
		opacity: 0;
		width: 100%;
		left: 0;
		top: 0;
	}
}
.main-title {
	color: black;
}
.navbar {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 9999;
}
.navbar-burger {
	height: 58px;
	position: relative;
}
section.second {
	position: relative;
	display: block;
	z-index: 100;
}
section {
	h1 {
		font-size: 2em;
		text-align: center;
		padding: 40px;
		padding-top: 0;
	}
}
.accordion {
	&:hover {
		background-color: #ccc;
	}
}
section.second-subtitle {
	p {
		text-align: left;
		width: 90%;
		margin: auto;
		padding: 10px;
	}
}
.about-caption {
	margin: auto;
	margin-bottom: 15px;
	margin-top: -25px;
	background-color: #ddd;
	border-radius: 20px;
	width: 50%;
	font-style: italic;
	line-height: 1em;
	padding-top: 5px;
}
.about-author {
	padding: 0px !important;
	text-align: center !important;
	margin: auto !important;
	font-size: 90%;
	font-style: normal;
	padding-bottom: 5px !important;
}
div.about-image {
	padding: 25px;
	img {
		border-radius: 20px;
		border: 1px solid #ccc;
	}
}
section#services {
	>div.is-ancestor {
		figure {
			margin-top: 0;
		}
	}
	h2 {
		padding: 20px;
		padding-top: 0;
		padding-bottom: 40px;
	}
	.tile {
		article {
			padding-right: 15px;
			border-radius: 20px;
		}
		p.title {
			font-size: calc(4.5 * 0.5625 * 2vw);
			text-align: right;
			padding: 10px;
			-webkit-animation-duration: 200ms;
			animation-duration: 200ms;
			overflow-x: hidden;
			padding-top: 0;
			&:hover {
				font-size: 1.8em;
			}
		}
		p.subtitle {
			font-size: 1em;
			text-align: center;
			padding: 10px;
		}
	}
	.content {
		margin-top: 10px;
		text-align: left;
		width: 100%;
		position: relative;
		right: 10px;
	}
}
section#projects {
	.tile {
		article {
			border-radius: 20px;
		}
	}
	div.tile {
		.title {
			text-align: right;
			font-size: calc(5 * 0.5625 * 2vw);
		}
		.subtitle {
			text-align: right;
		}
		.content {
			padding-top: 30px;
			text-align: left;
		}
	}
	>h2 {
		padding: 30px;
		padding-top: 0px;
	}
}
section.section#team {
	width: 95%;
	margin-bottom: 50px;
}
section#team {
	> &:nth-child(3) {
		margin-top: 50px;
	}
	article {
		border-radius: 10px;
		-webkit-transition-duration: 400ms;
		-o-transition-duration: 400ms;
		transition-duration: 400ms;
	}
	div.tile {
		article {
			&:hover {
				border: 3px solid #aaa;
				border-radius: 10px;
			}
		}
	}
	.tile {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.title {
		font-size: 1.5em;
	}
	figure {
		margin: auto;
		margin-top: 0;
		img {
			border: 3px solid #ccc;
		}
	}
	.media-left {
		margin: 0;
		margin-bottom: auto;
		margin-top: auto;
		width: 200px;
	}
	p.title {
		font-size: 1.2rem;
		margin: 0;
		margin-bottom: 10px;
	}
	h2.team-subtitle {
		font-size: 0.9em;
		padding: 0;
		width: 100%;
		line-height: 1.1em;
	}
	article.tile {
		padding: 10px;
	}
	>div.tile {
		> &:nth-child(2) {
			-webkit-transform: translateY(60px);
			-ms-transform: translateY(60px);
			transform: translateY(60px);
		}
			
		> &:nth-child(3) {
			-webkit-transform: translateY(-80px);
			-ms-transform: translateY(-80px);
			transform: translateY(-80px);
		}
	}
}
.team {
	.is-card {
		padding: 0;
		margin: auto;
		top: 50%;
		position: relative;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	article.is-child {
		img {
			width: 150px;
		}
	}
}
div.share-social {
	background-color: #565656;
	color: white;
	height: 120px;
	line-height: 140px;
	h2 {
		line-height: 1em;
		top: 20px;
		position: relative;
	}
	img {
		height: 40px;
		margin: 5px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
.no-js {
	section.main-title {
		&::after {
			content: "Para una mejor experiencia por favor habilite JavaScript o actualice su navegador";
			color: #fff;
			font-size: 1.2em;
			line-height: 2em;
			text-align: center;
			display: block;
		}
	}
	button.accordion {
		width: 100%;
		display: block;
		background-color: white;
		border-radius: 20px;
		padding: 10px;
		font-size: 1em;
		border: 3px solid #eee;
	}
	div.tile {
		article {
			background-image: -webkit-gradient(linear, left top, right top, from(rgb(146, 238, 199)), to(rgb(171, 222, 209)));
			background-image: -o-linear-gradient(left, rgb(146, 238, 199), rgb(171, 222, 209));
			background-image: linear-gradient(90deg, rgb(146, 238, 199), rgb(171, 222, 209));
			&:hover {
				-webkit-transition-duration: 400ms;
				-o-transition-duration: 400ms;
				transition-duration: 400ms;
				border: 20px solid rgba(255, 255, 255, 0.5);
				background-image: -o-linear-gradient(45deg, rgb(214, 165, 240), rgb(230, 140, 247));
				background-image: linear-gradient(45deg, rgb(214, 165, 240), rgb(230, 140, 247));
			}
		}
	}
	.team {
		div.tile {
			article {
				&:hover {
					background-image: -webkit-gradient(linear, left top, right top, from(rgb(146, 238, 199)), to(rgb(171, 222, 209)));
					background-image: -o-linear-gradient(left, rgb(146, 238, 199), rgb(171, 222, 209));
					background-image: linear-gradient(90deg, rgb(146, 238, 199), rgb(171, 222, 209));
					border: 3px solid #eee;
				}
			}
		}
	}
	div.navbar-menu {
		is-active {
			text-align: left;
		}
	}
}
@media only screen and (min-width: 1601px) {
	section.section {
		width: 100ch;
		margin: auto;
	}
	section.main-title {
		width: 100%;
		img {
			width: 40%;
			display: block;
			margin: auto;
		}
	}
	section.section.main-title {
		img {
			width: 600px;
		}
	}
	section.section#team {
		width: 1400px;
		margin-left: auto;
		margin-right: auto;
		width: 100ch;
		margin-bottom: 50px;
	}
	section.content {
		img {
			width: 100%;
			margin: 0;
		}
	}
	div.spacer {
		position: relative;
		display: block;
		margin-top: 350px;
		height: 100px;
		width: 100%;
	}
	div.tile.is-ancestor {
		margin-left: 10%;
		margin-right: 10%;
	}
	.accordion {
		margin: auto;
		margin-bottom: 20px;
		width: 70%;
	}
	.media-content {
		overflow: hidden;
	}
	section#team {
		.tile {
			-webkit-box-pack: start;
			-ms-flex-pack: start;
			justify-content: flex-start;
		}
		h2 {
			padding-bottom: 40px;
			padding-bottom: 40px;
			text-align: center;
			margin: auto;
		}
		>h2 {
			height: 150px;
			+ {
				div.tile.is-ancestor {
					margin-top: 50px;
				}
			}
		}
		div.tile.is-ancestor {
			margin: 0;
		}
		article {
			max-width: 300px;
		}
		.media-left {
			position: relative;
			text-align: center;
			margin: auto;
		}
		.is-card {
			min-height: 240px;
			top: calc(125px + 50%);
			-webkit-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			transform: translateY(-100%);
		}
		.tile.is-ancestor {
			&:first-of-type {
				> &:nth-child(2) {
					position: static;
					margin-top: -140px;
				}
				> &:nth-child(1) {
					position: static;
					margin-top: -80px;
				}
			}
			&:last-of-type {
				> &:nth-child(2) {
					position: static;
					height: 300px;
				}
				> &:nth-child(1) {
					position: static;
					margin-bottom: -60px;
				}
			}
		}
	}
	footer {
		.tile.is-ancestor {
			margin: auto;
		}
		>div {
			width: 1000px;
		}
		>h6 {
			width: 1000px;
			margin: auto;
		}
	}
	section#services {
		>h2 {
			width: 80%;
			margin-bottom: 40px;
		}
		i {
			font-size: 60px !important;
		}
		figure {
			font-size: 60px !important;
		}
		div.tile {
			p.title {
				font-size: 2em;
			}
		}
		.content {
			font-size: 1em;
			line-height: 1.75em;
		}
	}
	section#projects {
		div.tile {
			p.title {
				font-size: 2em;
			}
			i {
				font-size: 70px !important;
			}
			.content {
				font-size: 1em;
				line-height: 1.75em;
			}
		}
		figure {
			font-size: 50px !important;
		}
		>h2 {
			margin-bottom: 60px;
			width: 80%;
		}
		i {
			font-size: 2em;
		}
	}
	.js {
		nav {
			>div {
				text-align: center;
				margin: auto;
			}
			.navbar-menu {
				-webkit-box-flex: 0;
				-ms-flex-positive: 0;
				flex-grow: 0;
				width: 1300px;
				margin: auto;
				margin-left: 0px;
				text-align: center;
				.navbar-start {
					width: 1000px;
					margin: auto;
					margin-right: 0px;
				}
				.navbar-end {
					width: 300px;
					margin-left: 10px;
				}
			}
			.navbar-brand {
				width: 80px;
				margin: auto;
				margin-right: 0px;
			}
		}
	}
}
@media only screen and (min-width: 1367px) and (max-width: 1600px) {
	section.section {
		width: 110ch;
		margin: auto;
	}
	section.main-title {
		width: 100%;
		img {
			width: 40%;
			display: block;
			margin: auto;
		}
	}
	section.content {
		img {
			width: 100%;
			margin: 0;
		}
	}
	div.spacer {
		position: relative;
		display: block;
		margin-top: calc(0.5625 * 40vw);
		height: 100px;
		width: 100%;
	}
	div.tile.is-ancestor {
		margin-left: 10%;
		margin-right: 10%;
	}
	.accordion {
		margin: auto;
		margin-bottom: 20px;
		width: 70%;
	}
	.media-content {
		overflow: hidden;
	}
	section#services {
		>h2 {
			width: 80ch;
			margin-bottom: 40px;
		}
		div.tile {
			i {
				font-size: 1.5em;
			}
			p.title {
				font-size: 2em;
			}
		}
		.content {
			font-size: 1em;
			line-height: 1.75em;
		}
	}
	section#projects {
		div.tile {
			p.title {
				font-size: 2em;
			}
			.content {
				font-size: 1em;
				line-height: 1.75em;
			}
			i {
				font-size: 2em;
			}
		}
		>h2 {
			margin-bottom: 60px;
			width: 80%;
		}
	}
	section.section#team {
		width: 100ch;
		margin-bottom: 50px;
	}
	section#team {
		>h2 {
			height: 150px;
			+ {
				div.tile.is-ancestor {
					margin-top: 50px;
				}
			}
		}
		div.tile.is-ancestor {
			margin: 0;
		}
		h2 {
			padding-bottom: 40px;
			text-align: center;
			margin: auto;
		}
		article {
			max-width: 300px;
		}
		.media-left {
			position: relative;
			text-align: center;
			margin: auto;
		}
		.is-card {
			min-height: 240px;
			top: calc(125px + 50%);
			-webkit-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			transform: translateY(-100%);
		}
		.tile.is-ancestor {
			&:first-of-type {
				> &:nth-child(2) {
					position: static;
					margin-top: -140px;
				}
				> &:nth-child(1) {
					position: static;
					margin-top: -80px;
				}
			}
			&:last-of-type {
				> &:nth-child(2) {
					position: static;
					height: 300px;
				}
				> &:nth-child(1) {
					position: static;
					margin-bottom: -60px;
				}
			}
		}
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
	.js {
		.navbar {
			font-size: calc(0.5625 * 2vw);
		}
		.navbar-menu {
			a.navbar-item {
				&:not(:last-child) {
					&:after {
						-webkit-transform: scaleY(250%);
						-ms-transform: scaleY(250%);
						transform: scaleY(250%);
					}
				}
			}
		}
		.navbar-start {
			a.navbar-item {
				&:hover {
					&::after {
						position: relative;
						-webkit-transform: scaleY(2.5) translateX(7px) !important;
						-ms-transform: scaleY(2.5) translateX(7px) !important;
						transform: scaleY(2.5) translateX(7px) !important;
					}
				}
			}
		}
	}
	section.section {
		width: 105ch;
		margin: auto;
	}
	section.main-title {
		width: 100%;
		img {
			width: 40%;
			display: block;
			margin: auto;
		}
	}
	section.content {
		img {
			width: 100%;
			margin: 0;
		}
	}
	div.spacer {
		position: relative;
		display: block;
		margin-top: calc(0.5625 * 30vw);
		height: calc(20px + 0.5625 * 25vw);
		width: 100%;
	}
	div.tile.is-ancestor {
		margin-left: 10%;
		margin-right: 10%;
	}
	.accordion {
		margin: auto;
		margin-bottom: 20px;
		width: 70%;
	}
	.media-content {
		overflow: hidden;
	}
	section#services {
		>h2 {
			width: 80%;
			margin-bottom: 40px;
		}
		div.tile {
			i {
				font-size: 1.75em;
			}
			p.title {
				font-size: 2em;
			}
		}
		.content {
			font-size: 1em;
			line-height: 1.75em;
		}
	}
	section#projects {
		div.tile {
			p.title {
				font-size: 2em;
			}
			.content {
				font-size: 1em;
				line-height: 1.75em;
			}
			i {
				font-size: 2em;
			}
		}
		>h2 {
			margin-bottom: 60px;
			width: 80%;
		}
	}
	section.section#team {
		width: 100ch;
		margin-bottom: 50px;
	}
	section#team {
		>h2 {
			height: 150px;
			+ {
				div.tile.is-ancestor {
					margin-top: 50px;
				}
			}
		}
		div.tile.is-ancestor {
			margin: 0;
		}
		h2 {
			padding-bottom: 40px;
			text-align: center;
			margin: auto;
		}
		article {
			max-width: 300px;
		}
		.media-left {
			position: relative;
			text-align: center;
			margin: auto;
		}
		.is-card {
			top: calc(125px + 50%);
			-webkit-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			transform: translateY(-100%);
			min-height: 230px;
		}
		.tile.is-ancestor {
			&:first-of-type {
				> &:nth-child(2) {
					position: static;
					margin-top: -140px;
				}
				> &:nth-child(1) {
					position: static;
					margin-top: -80px;
				}
			}
			&:last-of-type {
				> &:nth-child(2) {
					position: static;
					height: 300px;
				}
				> &:nth-child(1) {
					position: static;
					margin-bottom: -60px;
				}
			}
		}
	}
}
@media only screen and (min-width: 769px) and (max-width: 1023px) {
	.js {
		.panel {
			width: 100%;
			line-height: 1.5em;
		}
	}
	section.section.main-title {
		max-width: 100%;
		width: 100%;
		width: 100%;
		h2 {
			font-size: 1.2em;
			&:first-of-type {
				margin-top: 20px;
			}
		}
	}
	section.section {
		max-width: 70ch;
		margin: auto;
		width: 80ch;
		margin: auto;
	}
	section {
		div.tile {
			.title {
				text-align: right;
				font-size: calc(5 * 0.5625 * 2vw);
			}
			.subtitle {
				text-align: right;
			}
		}
	}
	section#services {
		text-align: left;
		line-height: 1.5em;
		padding-top: 30px;
		text-align: center;
		line-height: calc(9 * 0.5625 * 1vw);
		.tile {
			p.title {
				font-size: 1.3em;
				line-height: 1em;
			}
		}
	}
	#about {
		text-align: left;
		line-height: 1.5em;
		h2 {
			padding-top: 30px;
			text-align: center;
			line-height: calc(9 * 0.5625 * 1vw);
		}
	}
	#projects {
		div.tile {
			.content {
				text-align: left;
				line-height: 1.5em;
			}
		}
	}
	section#team {
		.tile.is-ancestor {
			&:first-of-type {
				> &:nth-child(2) {
					position: static;
					margin-top: -140px;
				}
				> &:nth-child(1) {
					position: static;
					margin-top: -80px;
				}
			}
			&:last-of-type {
				> &:nth-child(2) {
					position: static;
					height: 300px;
				}
				> &:nth-child(1) {
					position: static;
					margin-bottom: -60px;
				}
			}
		}
		div.tile.is-ancestor {
			margin-left: -40px;
			margin-right: -40px;
			margin-top: -20px;
		}
		.is-card {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		p.title {
			font-size: 1.2em;
			text-align: center;
		}
		>h2 {
			+ {
				div.tile.is-ancestor {
					margin-top: 100px;
				}
			}
		}
	}
	section#projects {
		.tile {
			p.title {
				font-size: 1.3em;
				line-height: 1em;
			}
		}
	}
	div.is-card {
		i {
			font-size: 2.2em;
		}
	}
	article {
		div.content {
			line-height: 1.3em;
		}
	}
	section.main-title {
		img {
			width: 45%;
			display: block;
			margin: auto;
		}
	}
	section#about {
		margin-top: 40px;
	}
	div.spacer {
		position: relative;
		display: block;
		margin-top: calc(0.5625 * 40vw);
		height: 100px;
		width: 100%;
	}
	section.section#team {
		width: 90%;
		margin-bottom: 50px;
	}
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
	.js {
		.panel {
			width: 100%;
			line-height: 1.5em;
		}
	}
	section.section.main-title {
		max-width: 100%;
		width: 100%;
		h2 {
			font-size: 1.2em;
			&:first-of-type {
				margin-top: 20px;
			}
		}
	}
	section.section {
		max-width: 70ch;
		margin: auto;
	}
	section {
		div.tile {
			.title {
				text-align: right;
				font-size: calc(5 * 0.5625 * 2vw);
			}
			.subtitle {
				text-align: right;
			}
		}
	}
	section#services {
		text-align: left;
		line-height: calc(15 * 0.5625 * 1vw);
		padding-top: 30px;
		text-align: center;
		line-height: calc(9 * 0.5625 * 1vw);
		.tile {
			p.title {
				font-size: 1.3em;
				line-height: 1em;
			}
		}
	}
	#about {
		div.tile {
			.content {
				text-align: left;
				line-height: calc(15 * 0.5625 * 1vw);
			}
		}
		h2 {
			padding-top: 30px;
			text-align: center;
			line-height: calc(9 * 0.5625 * 1vw);
		}
	}
	section#projects {
		div.tile {
			.content {
				text-align: left;
				line-height: calc(7 * 0.5625 * 1vw);
			}
		}
		.tile {
			p.title {
				font-size: 1.3em;
				line-height: 1em;
			}
		}
	}
	section.main-title {
		img {
			width: 60%;
			display: block;
			margin: auto;
		}
	}
	div.is-card {
		i {
			font-size: 2.2em;
		}
	}
	article {
		div.content {
			line-height: 1.6em;
		}
	}
	section#about {
		margin-top: 40px;
	}
	div.spacer {
		position: relative;
		display: block;
		margin-top: calc(0.5625 * 55vw);
		height: 100px;
		width: 100%;
	}
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
	section.main-title {
		padding: 0;
		font-size: 0.75em;
		img {
			padding-top: 20px;
			width: 90%;
			display: block;
			margin: auto;
		}
		h2 {
			margin-bottom: 5px;
			&:last-of-type {
				margin-bottom: 34px;
			}
		}
	}
	div.spacer {
		position: relative;
		display: block;
		margin-top: 200px;
		height: 100px;
		width: 100%;
	}
}
@media only screen and (max-width: 400px) {
	section.section {
		padding: 0;
	}
	section.main-title {
		padding: 0;
		padding-bottom: 30px;
		img {
			width: 90%;
			padding: 10px;
			padding-top: 30px;
			display: block;
			margin: auto;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1em;
			width: 90%;
		}
	}
	section {
		div.tile {
			.title {
				text-align: right;
				font-size: calc(5 * 0.5625 * 2vw);
			}
			.subtitle {
				text-align: right;
			}
			.content {
				padding-top: 30px;
				text-align: left;
				line-height: calc(10 * 0.5625 * 1vw);
			}
		}
		div.is-ancestor {
			.tile {
				article {
					border-radius: 0px;
					-webkit-transform: scale(1) !important;
					-ms-transform: scale(1) !important;
					transform: scale(1) !important;
					margin: 0px;
				}
			}
		}
		.tile.is-vertical {
			>.tile.is-child {
				margin-bottom: 0px !important;
				&:not(:last-child) {
					margin: 0px !important;
				}
			}
		}
	}
	.section.main-title {
		h2.subtitle {
			font-size: calc(6.5 * 0.5625 * 1vw);
		}
	}
	div.spacer {
		position: relative;
		display: block;
		margin-top: 250px;
		height: 100px;
		width: 100%;
	}
	.js {
		.accordion {
			margin-bottom: 0px;
			border-radius: 0px;
			font-size: 1.2em;
			line-height: 1.2em;
			&:not(:last-of-type) {
				border-bottom: 3px solid #ccc;
			}
		}
		.panel {
			width: 100%;
			border-radius: 0px;
			margin-bottom: 0px;
		}
		.navbar-menu {
			a.navbar-item {
				text-align: left;
				padding-left: 20px;
				padding-bottom: 10px;
				padding-top: 10px;
				&:after {
					content: "" !important;
				}
				&:not(:nth-child(even)) {
					&:not(:last-child) {
						&:hover {
							padding-left: 30px;
							padding-right: 0px;
						}
					}
				}
				&:not(:nth-child(odd)) {
					&:not(:last-child) {
						&:hover {
							padding-left: 30px;
							padding-right: 0px;
						}
					}
				}
			}
			.navbar-start {
				&:nth-child(odd) {
					text-align: left;
					padding-right: 20px;
				}
			}
		}
		.navbar-start {
			&:last-child {
				-webkit-transition-duration: 400ms;
				-o-transition-duration: 400ms;
				transition-duration: 400ms;
				text-align: center !important;
				-webkit-transition-duration: 400ms;
				-o-transition-duration: 400ms;
				transition-duration: 400ms;
				&:after {
					content: "Buscar";
					position: relative;
					left: 10px;
					font-weight: 500;
					-webkit-transition-duration: 800ms;
					-o-transition-duration: 800ms;
					transition-duration: 800ms;
				}
				&:hover {
					background-color: #EB6113 !important;
					color: white !important;
					padding-left: 0px;
					padding-right: 0px;
					padding-top: 10px;
					padding-bottom: 10px;
					-webkit-transition-duration: 400ms;
					-o-transition-duration: 400ms;
					transition-duration: 400ms;
					color: white;
					background-color: #EB6113;
					&:after {
						color: rgba(0,0,0,0);
						margin-right: -70px;
					}
				}
			}
		}
		.navbar-end {
			.navbar-item {
				padding-left: 0px;
				padding-right: 0px;
				a {
					padding: 0px;
					-webkit-transition-duration: 400ms;
					-o-transition-duration: 400ms;
					transition-duration: 400ms;
					font-size: 16px;
					margin: auto;
					background-color: rgba(0,0,0,0);
					color: black;
				}
				&:hover {
					background-color: #EB6113;
					a {
						color: white;
						font-size: 1.2em;
						padding-top: 10px;
						padding-bottom: 10px;
					}
				}
			}
			> &:first-child {
				margin-top: 10px;
			}
			> &:last-child {
				a {
					color: #EB6113;
				}
			}
		}
	}
	section#about {
		margin-bottom: calc(0.5625 * 30vw);
	}
	#services {
		margin-bottom: calc(0.5625 * 30vw);
		position: relative;
		border: none;
	}
	#projects {
		margin-bottom: calc(0.5625 * 30vw);
	}
	section#projects {
		position: relative;
		border: none;
		.is-card {
			padding-left: 10px;
			padding-right: 10px;
			&::after {
				content: "Más información";
				display: block;
				text-align: center;
				position: relative;
				top: 20px;
				margin-bottom: 10px;
				padding-top: 10px;
				padding-bottom: 10px;
				width: 200px;
				background-color: rgba(0,0,0,0.5);
				border-radius: 10px;
				color: white;
			}
		}
		.is-child {
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}
		h1 {
			font-size: calc(20 * 0.5625 * 1vw);
			width: 100%;
			line-height: calc(20 * 0.5625 * 1vw);
		}
		h2 {
			font-size: calc(10 * 0.5625 * 1vw);
			width: 100%;
			line-height: calc(14 * 0.5625 * 1vw);
		}
	}
	#team {
		.tile {
			article {
				position: relative;
				border: none;
			}
		}
	}
	section#services {
		.content {
			width: 100%;
			padding-left: 10px;
			&::after {
				content: "Más información";
				display: block;
				text-align: center;
				position: relative;
				top: 20px;
				margin-bottom: 10px;
				padding-top: 10px;
				padding-bottom: 10px;
				width: 200px;
				background-color: rgba(0,0,0,0.5);
				border-radius: 10px;
				color: white;
			}
		}
	}
	section.section#team {
		width: 100%;
	}
	div.share-social {
		margin-top: -50px;
		h2 {
			margin-bottom: 10px;
		}
		img {
			height: calc(16 * 0.5625 * 1vw);
		}
	}
	.tile.is-parent {
		padding: 0px;
	}
	div.tile {
		article {
			border: none !important;
			border-radius: 0px;
			&:hover {
				border: none !important;
				border-radius: 0px;
			}
		}
	}
}
@media only screen and (min-width: 510px) and (max-width: 769px) {
	section.main-title {
		h2 {
			font-size: 1.4em;
		}
		img {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	div.spacer {
		margin-top: 240px;
	}
	section {
		div.tile {
			.title {
				text-align: right;
				font-size: calc(5 * 0.5625 * 2vw);
			}
			.subtitle {
				text-align: right;
			}
			.content {
				padding-top: 30px;
				text-align: left;
				line-height: calc(6 * 0.5625 * 1vw);
			}
		}
	}
	section#projects {
		div.tile {
			.content {
				padding-top: 30px;
				text-align: left;
				line-height: calc(6 * 0.5625 * 1vw);
			}
		}
	}
	section#team {
		div.tile {
			article {
				div.is-card {
					&:hover {
						border-radius: 20px;
						-webkit-transform: translateY(-5px);
						-ms-transform: translateY(-5px);
						transform: translateY(-5px);
					}
				}
			}
		}
		h2.team-subtitle {
			font-size: 0.9em;
			padding: 0;
			width: 100%;
			line-height: 1.1em;
		}
		>div.tile {
			> &:nth-child(2) {
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
			}
			> &:nth-child(3) {
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
			}
		}
		.is-card {
			margin-top: -10px;
			margin-bottom: 20px;
			-webkit-transform: translate(0px);
			-ms-transform: translate(0px);
			transform: translate(0px);
		}
		.media {
			position: relative;
			right: 26vw;
			top: 25px;
		}
		article.is-child {
			img {
				width: 180px;
				position: relative;
				top: 20px;
			}
		}
		>div.is-ancestor {
			p.title {
				position: fixed;
				right: 10px;
				top: 20px;
				width: 200px;
				display: block;
				font-size: calc(6 * 0.5625 * 1vw);
				text-align: right !important;
			}
			h2.team-subtitle {
				position: fixed;
				text-align: right;
				right: 10px;
				bottom: -10px;
				width: 200px;
			}
		}
	}
	.team {
		article.is-child {
			img {
				width: 150px;
			}
		}
	}
}
@media only screen and (max-width: 509px) {
	section#team {
		div.tile {
			article {
				div.is-card {
					&:hover {
						border-radius: 20px;
						-webkit-transform: translateY(-5px);
						-ms-transform: translateY(-5px);
						transform: translateY(-5px);
					}
				}
			}
		}
		h2.team-subtitle {
			font-size: 0.9em;
			padding: 0;
			width: 100%;
			line-height: 1.1em;
		}
		>div.tile {
			> &:nth-child(2) {
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
			}
			> &:nth-child(3) {
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
			}
		}
		.is-card {
			margin-top: -10px;
			margin-bottom: 10px;
			-webkit-transform: translate(0px);
			-ms-transform: translate(0px);
			transform: translate(0px);
		}
		.media-left {
			margin-right: auto;
			margin-left: auto;
		}
		article.is-child {
			img {
				width: 180px;
				position: relative;
				top: 20px;
				margin-top: 40px;
				margin-bottom: 40px;
			}
		}
		>div.is-ancestor {
			p.title {
				position: fixed;
				text-align: center;
				top: 20px;
				width: 100%;
				display: block;
				font-size: 1em;
			}
			h2.team-subtitle {
				position: relative;
				margin-top: -10px;
				bottom: calc(-10% + (10) * 0.5625 * -1vw);
				width: 90%;
			}
		}
		margin-bottom: 10px;
	}
}
@media only screen and (min-width: 401px) and (max-width: 1023px) {
	.js {
		.navbar-menu {
			a.navbar-item {
				text-align: left;
				padding-left: 20px;
				&:not(:nth-child(odd)) {
					&:after {
						content: "";
					}
					&:not(:last-child) {
						&:before {
							content: "->";
							color: #EB6113;
						}
						&:hover {
							padding-left: 30px;
							padding-right: 0px;
						}
					}
				}
				&:not(:nth-child(even)) {
					&:after {
						content: "<-";
					}
					&:not(:last-child) {
						&:hover {
							padding-left: 0px;
							padding-right: 30px;
						}
					}
				}
			}
			.navbar-start {
				&:nth-child(odd) {
					text-align: right;
					padding-right: 20px;
				}
			}
		}
		.navbar-start {
			&:last-child {
				-webkit-transition-duration: 400ms;
				-o-transition-duration: 400ms;
				transition-duration: 400ms;
				text-align: center !important;
				-webkit-transition-duration: 400ms;
				-o-transition-duration: 400ms;
				transition-duration: 400ms;
				&:after {
					content: "Buscar";
					position: relative;
					left: 10px;
					font-weight: 500;
					-webkit-transition-duration: 800ms;
					-o-transition-duration: 800ms;
					transition-duration: 800ms;
				}
				&:hover {
					background-color: #EB6113 !important;
					color: white !important;
					padding-left: 0px;
					padding-right: 0px;
					padding-top: 10px;
					padding-bottom: 10px;
					-webkit-transition-duration: 400ms;
					-o-transition-duration: 400ms;
					transition-duration: 400ms;
					color: white;
					background-color: #EB6113;
					&:after {
						color: rgba(0,0,0,0);
						margin-right: -70px;
					}
				}
			}
		}
		.navbar-end {
			.navbar-item {
				padding-left: 0px;
				padding-right: 0px;
				a {
					padding: 0px;
					-webkit-transition-duration: 400ms;
					-o-transition-duration: 400ms;
					transition-duration: 400ms;
					font-size: 16px;
					margin: auto;
					background-color: rgba(0,0,0,0);
					color: black;
				}
				&:hover {
					background-color: #EB6113;
					a {
						color: white;
						font-size: 1.2em;
						padding-top: 10px;
						padding-bottom: 10px;
					}
				}
			}
			> &:first-child {
				margin-top: 20px;
			}
			> &:last-child {
				a {
					color: #EB6113;
				}
			}
		}
	}
}
