/* Framework */

@import url("bulma.css");

/* Fonts */

@import url("fonts.css");
@import url("fontawesome.css");
@import url("solid.css");


/*  Title section */
h1.main-title {
    text-align: center;
    font-size: 2.2em;
    padding: 30px;
    padding-top: 0;
}

h2.main-title {
    text-align: center;
    font-size: 1.3em;
    padding-left: 10%;
    padding-right: 10%;
}


/*Alternating gradient and shadow */

section.main-title {
    box-shadow: 1px 0 3px 1px #333;
    background-image: linear-gradient(45deg, #33CC99, #33CCCC,#3399CC);
    animation: main_title alternate infinite 2000ms;
    z-index: 99;
    display: block;
    position: absolute;
    width: 100%;
}

    section.main-title::before {
        background-image: linear-gradient(45deg, #66CC33, #33CC33,#33CC66);
        content: '';
        z-index: -99;
        transition: opacity 0.45s;
        animation: main_title alternate-reverse infinite 3000ms;
        display: block;
        height: 100%;
        position: absolute;
        opacity: 0;
        width: 100%;
        left: 0;
        top: 0;
    }


.main-title {
    color: black;
}

@keyframes main_title {
    0% {
        background-color:
    }

    100% {
        opacity: 1;
    }
}


/* Navbar */

.navbar {
    box-shadow: 1px 0 3px 1px #333;
}

a.navbar-item {
    transition-duration: 200ms;
}

    a.navbar-item:hover {
        background-color: #ddd !important;
        border-radius: 10px;
    }

a.navbar-link {
    transition-duration: 200ms;
}

    a.navbar-link:hover {
        background-color: #ddd !important;
        border-radius: 10px;
    }

section.second {
    position: relative;
    display: block;
    z-index: 100;
}

section h1 {
    font-size: 2em;
    text-align: center;
    padding: 40px;
    padding-top: 0;
}

body {
    text-align: center;
}

div.teaser-data {
    box-shadow: none;
    margin: auto;
    margin-top: 20px;
    width: 80%
}

    div.teaser-data a {
        padding: 20px;
        background-color: white;
        border: none;
        color: #339966;
        cursor: default;
    }

section.services h2 {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 40px;
}

section.services .tile article {
    padding-right: 15px;
}

section.services .tile p.title {
    font-size: 1.6em;
    text-align: center;
    padding: 10px;
    animation-duration: 200ms;
}

    section.services .tile p.title:hover {
        font-size: 1.8em;
    }

section.services .tile p.subtitle {
    font-size: 1em;
    text-align: center;
    padding: 10px;
}

div.tile a {
    text-decoration: none !important;
}

div.tile article:hover {
    border-radius: 20px;
    box-shadow: 0 0 3px 1px #333;
}

section.projects div.tile .title {
    text-align: right;
}

section.projects div.tile .subtitle {
    text-align: right;
}

section.projects div.tile .content {
    padding-top: 30px;
    text-align: left;
}

article.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

div.is-card figure {
    margin: 15%;
    margin-left: 40%;
}

div.is-card i {
    font-size: 3.2em;
}


section.team div.tile article:hover {
    box-shadow: none;
}

.services-1 {
    background-image: linear-gradient(45deg, #00CC66, #00CC99);
    border-radius: 20px;
}

.services-2 {
    background-image: linear-gradient(45deg, #CC99FF, #99CCFF);
    border-radius: 20px;
}

.services-3 {
    background-image: linear-gradient(45deg, #CCFF99, #FFCC99);
    border-radius: 20px;
}

.projects-1 {
    background-image: linear-gradient(45deg, #99CCFF, #FF99CC);
    border-radius: 20px;
}

.projects-2 {
    background-image: linear-gradient(45deg, #FF9999, #99FFFF);
    border-radius: 20px;
}

.projects-3 {
    background-image: linear-gradient(45deg, #99FF99, #CC99FF);
    border-radius: 20px;
}

article.is-child img {
    width: 200px;
    border-radius: 6%;
}

section.team .media-left {
    margin: -20px;
}

section.team figure {
    margin: 5px;
}

.media-content {
    overflow: hidden;
}

section.team .tile {
    justify-content: flex-start;
}

section.team h2 {
    padding-bottom: 40px;
}

section.team article {
    border-radius: 20px;
}

.team .title {
    text-align: left;
    position: relative;
    top: -80px;
    left: 200px;
}

.team-subtitle {
    text-align: left;
    position: relative;
    top: -100px;
    left: 200px;
    margin: 0;
}

.team .is-card {
    padding: 0;
    margin: 0;
    height: 250px;
}

footer {
    background-color: #363636;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

a {
    text-decoration: none;
    color: inherit;
}

section.tos {
    text-align: left;
    padding: 10%;
}

    section.tos li {
        list-style: circle;
        font-size: 120%;
        padding: 20px;
    }

    section.tos p {
        padding: 10px;
    }

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 140%;
}

    .active, .accordion:hover {
        background-color: #ccc;
    }

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f078';
    font-size: 30px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f077";
}

section.second-subtitle p {
    text-align: left;
    width: 80%;
    margin: auto;
    padding: 10px;
}

@media only screen and (min-width: 780px) {

    .team-1 {
        background-image: linear-gradient(90deg, #FF9999, #99CCFF);
    }

    .team-2 {
        background-image: linear-gradient(90deg, #99FF99, #99FFFF);
    }

    .team-3 {
        background-image: linear-gradient(90deg, #FFCC99, #CCFF99);
    }

    .team-7 {
        background-image: linear-gradient(90deg, #9999FF, #99FFCC);
    }

        .team-1:hover, .team-2:hover, .team-3:hover, .team-7:hover {
            box-shadow: 0 0 3px 1px #333 !important;
        }
}

@media only screen and (min-width: 1024px) {
    section.main-title img {
        width: 40%;
        display: block;
        margin: auto;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: 18%;
        height: 100px;
        width: 100%;
    }

    div.tile.is-ancestor {
        margin-left: 10%;
        margin-right: 10%;
    }

    .accordion {
        margin: auto;
        margin-bottom: 20px;
        width: 70%;
    }
}

@media only screen and (max-width: 1024px) {
    section.main-title img {
        width: 60%;
        display: block;
        margin: auto;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: 35%;
        height: 100px;
        width: 100%;
    }
}
