/* Error: The target selector was not found.
 * Use "@extend %base\\hero\\body !optional" to avoid this error.
 *    ,
 * 77 |   @extend %base\\hero\\body;
 *    |   ^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass/partials/_components.scss 77:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend %base\\\\hero\\\\body !optional" to avoid this error.\a    \2577 \a 77 \2502    @extend %base\\\\hero\\\\body;\a    \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass/partials/_components.scss 77:3  root stylesheet';
}
