/* Framework */

@import url("bulma.css");

/* Fonts */

@import url("fonts.css");
@import url("fontawesome.css");
@import url("solid.css");
@import url("brands.css");

/* General Styling */

body {
    text-align: center;
    background: repeating-linear-gradient( -45deg, #eee, #eee 2px, #fff 2px, #fff 10px );
    background-attachment: fixed;
}

h2 {
    font-size: 120%;
    width: 80%;
    margin: auto;
}

.js .expanded {
    opacity: 1;
    height: inherit;
    transition-duration: 400ms;
}

.js .contracted {
    opacity: 0;
    height: 0px;
    transition-duration: 400ms;
}

.title {
    word-break: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

div.tile a {
    text-decoration: none !important;
}

div.tile article:hover {
    border-radius: 20px;
    border: 10px solid rgba(255,255,255,0.5);
}

article.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

article {
    border: 3px solid #ccc;
    transition-duration: 2s;
}

div.is-card figure {
    margin: 15%;
    margin-left: 40%;
}

div.is-card i {
    font-size: 3.2em;
}

.footer-social {
    font-size: 1.5em;
    padding: 5px;
}

    .footer-social:hover {
        color: #EB6113;
        font-size: 1.8em;
    }

footer .tile {
    padding: 10px;
}

article.is-child img {
    border-radius: 20px;
}

/*  Title section */

h1.main-title {
    text-align: center;
    font-size: 2.2em;
    padding: 30px;
    padding-top: 0;
}

h2.main-title {
    text-align: center;
    font-size: 1.3em;
    padding-left: 10%;
    padding-right: 10%;
}

.section.main-title h2.subtitle {
    font-size: 100%;
    line-height: 90%; 
}

/*Alternating gradient and shadow */

section.main-title {
    box-shadow: 1px 0 3px 1px #333;
    background-image: linear-gradient(45deg, #33CC99, #33CCCC,#3399CC);
    animation: main_title alternate infinite 2000ms;
    z-index: 99;
    display: block;
    position: absolute;
    width: 100%;
}

    section.main-title::before {
        background-image: linear-gradient(45deg, #66CC33, #33CC33,#33CC66);
        content: '';
        z-index: -99;
        transition: opacity 0.45s;
        animation: main_title alternate-reverse infinite 3000ms;
        display: block;
        height: 100%;
        position: absolute;
        opacity: 0;
        width: 100%;
        left: 0;
        top: 0;
    }

.main-title {
    color: black;
}

@keyframes main_title {
    0% {
    }

    100% {
        opacity: 1;
    }
}

/* Navbar */

.navbar {
    position: sticky;
    top: 0px;
    z-index: 9999;
}

.js .navbar {
    box-shadow: 1px 0 3px 1px #333;
}

.js a.navbar-item {
    transition-duration: 200ms;
}

    .js a.navbar-item:hover {
        background-color: #ddd !important;
        border-radius: 10px;
    }

.js a.navbar-link {
    transition-duration: 200ms;
}

    .js a.navbar-link:hover {
        background-color: #ddd !important;
        border-radius: 10px;
    }

/* Accordion */

section.second {
    position: relative;
    display: block;
    z-index: 100;
}

section h1 {
    font-size: 2em;
    text-align: center;
    padding: 40px;
    padding-top: 0;
}

.js .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 140%;
}

    .js .active, .accordion:hover {
        background-color: #ccc;
    }

.js .panel {
    display: none;
    overflow: hidden;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    background-color: #fff;
    border: 2px solid #eee;
}

.js .accordion:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f078';
    font-size: 30px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.js .active:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f077";
}

section.second-subtitle p {
    text-align: left;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.about-caption {
    margin: auto;
    margin-bottom: 15px;
    margin-top: -25px;
    background-color: #ddd;
    border-radius: 20px;
    width: 50%;
    font-style: italic;
    line-height: 1em;
    padding-top: 5px;
}

.about-author {
    padding: 0px!important;
    text-align: center!important;
    margin: auto!important;
    font-size: 90%;
    font-style: normal;
    padding-bottom: 5px!important;
}

div.about-image {
    padding: 25px;
}

div.about-image img {
    border-radius: 20px;
    border: 1px solid #ccc
}

/* Services */

section.services h2 {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 40px;
}

section.services .tile article {
    padding-right: 15px;
    border-radius: 20px;
}

section.services .tile p.title {
    font-size: 1.6em;
    text-align: center;
    padding: 10px;
    animation-duration: 200ms;
}

    section.services .tile p.title:hover {
        font-size: 1.8em;
    }

section.services .tile p.subtitle {
    font-size: 1em;
    text-align: center;
    padding: 10px;
}

/* Projects */

section.projects .tile article {
    border-radius: 20px;
}

section.projects div.tile .title {
    text-align: right;
}

section.projects div.tile .subtitle {
    text-align: right;
}

section.projects div.tile .content {
    padding-top: 30px;
    text-align: left;
}

section.projects article.tile {
    margin: 10px !important;
}

section.projects > h2 {
    padding: 30px;
    padding-top: 0px;
}

/* Team */

section.team article {
    border-radius: 20px;
}

section.team .tile {
    justify-content: flex-start;
}

section.team .title {
    font-size: 1.5em;
}

section.team figure {
    margin: auto;
}

section.team .media-left {
    margin: auto;
}

.team .is-card {
    padding: 0;
    margin: auto;
}

.team article.is-child img {
    width: 150px;
}

/* Footer */

div.share-social {
    background-color: #565656;
    color: white;
    height: 120px;
    line-height: 140px;
}

div.share-social h2 {
    line-height: 1em;
    top: 20px;
    position: relative;
}

div.share-social img {
    height: 40px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    background-color: #363636;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* References */

.references {
    border-top: 3px solid #ccc;
    width: 80%;
    margin: auto;
    margin-bottom: 35px;
}

    .references::before {
        content: "Referencias";
        text-align: left;
        font-size: 1.4em;
        position: relative;
        bottom: 32px;
        right: 35%;
    }

.bibliography {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
}

    .bibliography li::marker {
        color: #EB6113;
    }

.citation {
    color: #EB6113;
    font-size: 0.9em;
    font-variant: small-caps;
    transition-duration: 1s;
}

    .citation:hover {
        font-style: italic;
        color: #EB6113;
        font-size: 0.95em;
        border-bottom: 1px dashed #999;
    }

/* Hashtags */

.js a.hashtag {
    color: #cf4b00;
}

    .js a.hashtag:hover {
        color: #FF5C00;
        border-bottom: 1px dashed #999;
    }

/* No JS */

.no-js section.main-title::after {
    content: "Para una mejor experiencia por favor habilite JavaScript o actualice su navegador";
    color: #fff;
    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
    display: block;
}

.no-js button.accordion {
    width: 100%;
    display: block;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 1em;
    border: 3px solid #eee;
}

.no-js div.tile article {
    background-image: linear-gradient(90deg, rgb(146, 238, 199), rgb(171, 222, 209));
}

    .no-js div.tile article:hover {
        transition-duration: 400ms;
        border: 20px solid rgba(255,255,255,0.5);
        background-image: linear-gradient(45deg, rgb(214, 165, 240), rgb(230, 140, 247));
    }

.no-js .team div.tile article:hover {
    background-image: linear-gradient(90deg, rgb(146, 238, 199), rgb(171, 222, 209));
    border: 3px solid #eee;
}

.no-js div.navbar-menu is-active {
    text-align: left;
}

/* Media Queries */

@media only screen and (min-width: 1024px) {
    section.main-title img {
        width: 40%;
        display: block;
        margin: auto;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: 18%;
        height: 100px;
        width: 100%;
    }

    div.tile.is-ancestor {
        margin-left: 10%;
        margin-right: 10%;
    }

    .accordion {
        margin: auto;
        margin-bottom: 20px;
        width: 70%;
    }

    .media-content {
        overflow: hidden;
    }

    section.team .tile {
        justify-content: flex-start;
    }

    section.team h2 {
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 0.9em;
    }

    section.services .tile p.title {
        font-size: 1.3em;
        line-height: 1em;
    }

    section.projects .tile p.title {
        font-size: 1.3em;
        line-height: 1em;
    }

    div.is-card i {
        font-size: 2.2em;
        line-height: 1em;
    }

    article div.content {
        line-height: 1.3em;
    }

    section.main-title img {
        width: 70%;
        display: block;
        margin: auto;
    }

    section#about {
        margin-top: 40px;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: 35%;
        height: 100px;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    section.main-title img {
        width: 90%;
        display: block;
        margin: auto;
    }
}

@media only screen and (max-width: 400px) {
    section.main-title img {
        width: 100%;
        display: block;
        margin: auto;
    }

    .section {
        padding: 10px;
    }

    body {
        font-size: 0.8em;
    }
}
