/* Framework */

@import url("bulma.css");

/* Fonts */

@import url("fonts.css");
@import url("fontawesome.css");
@import url("solid.css");
@import url("brands.css");

/* General Styling */

body {
    text-align: center;
    background: repeating-linear-gradient(-45deg,
            #eee,
            #eee 2px,
            #fff 2px,
            #fff 10px);
    background-attachment: fixed;
}

h2 {
    font-size: 120%;
    width: 80%;
    margin: auto;
}

.js .expanded {
    display: inherit;
    height: inherit;
    transition-duration: 400ms;
}

.js .contracted {
    display: none;
    transition-duration: 400ms;
}

.title {
    word-break: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

div.tile a {
    text-decoration: none !important;
}

div.tile article:hover {
    border-radius: 20px;
    border: 10px solid rgba(255, 255, 255, 0.5);
}

article.tile {
    justify-content: center;
    padding: 30px;
}

article {
    border: 3px solid #ccc;
    transition-duration: 2s;
}

div.is-card figure {
    margin: 5%;
    /*! margin-left: 40%; */
}

div.is-card i {
    font-size: 3.2em;
}

.footer-social {
    font-size: 1.5em;
    padding: 5px;
}

.footer-social:hover {
    color: #eb6113;
    font-size: 1.8em;
}

footer .tile {
    padding: 10px;
}

article.is-child img {
    border-radius: 20px;
}

/*  Title section */

h1.main-title {
    text-align: center;
    font-size: 2.2em;
    padding: 30px;
    padding-top: 0;
}

h2.main-title {
    text-align: center;
    font-size: 1.3em;
    padding-left: 10%;
    padding-right: 10%;
}

.section.main-title h2.subtitle {
    font-size: 100%;
    line-height: 90%;
}

/*Alternating gradient and shadow */

section.main-title {
    box-shadow: 1px 0 3px 1px #333;
    background-image: linear-gradient(45deg, #33cc99, #33cccc, #3399cc);
    animation: main_title alternate infinite 2000ms;
    z-index: 99;
    display: block;
    position: absolute;
    width: 100%;
}

section.main-title::before {
    background-image: linear-gradient(45deg, #66cc33, #33cc33, #33cc66);
    content: "";
    z-index: -99;
    transition: opacity 0.45s;
    animation: main_title alternate-reverse infinite 3000ms;
    display: block;
    height: 100%;
    position: absolute;
    opacity: 0;
    width: 100%;
    left: 0;
    top: 0;
}

.main-title {
    color: black;
}

@keyframes main_title {
    0% {}

    100% {
        opacity: 1;
    }
}

/* Navbar */

.navbar {
    position: sticky;
    top: 0px;
    z-index: 9999;
}

.js .navbar {
    box-shadow: 1px 0 3px 1px #333;
    transition-duration: 400ms;
}

.js a.navbar-item {
    transition-duration: 400ms;
    padding: 5px;
}

.js .navbar-brand .navbar-item path {
    width: 48px;
    transition-duration: 400ms;
}

.js .navbar-menu a.navbar-item:not(:last-child):after {
    content: "|";
    position: relative;
    left: 5px;
    transform: scaleY(2);
    color: #EB6113;
}

.js .navbar-start a.navbar-item:hover {
    background-color: rgba(0,0,0,0.05);
    color: #EB6113;
    padding-left: 10px;
    padding-right: 10px;
}

.js .navbar-start a.navbar-item:hover:after {
    position: relative;
    transform: scaleY(2) translateX(7px)!important;
}

.js .navbar-start :last-child {
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 400ms;
}

.js .navbar-start :last-child:hover i {
    transform: scale(1.2);
}

.js .navbar-brand .navbar-item:hover path {
   fill: rgba(0,150,0,1);
}

.js .navbar-end .navbar-item {
    padding: 5px;
}

.js .navbar-end .navbar-item a {
    padding: 5px;
    transition-duration: 400ms;
    font-size: 16px;
}

.js .navbar-end .navbar-item a:hover {
    background-color: #EB6113;
}

.navbar-burger {
    height: 58px;
    position: relative;
}


/* Accordion */

section.second {
    position: relative;
    display: block;
    z-index: 100;
}

section h1 {
    font-size: 2em;
    text-align: center;
    padding: 40px;
    padding-top: 0;
}

.js .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 140%;
}

.js .active,
.accordion:hover {
    background-color: #ccc;
}

.js .panel {
    display: none;
    overflow: hidden;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    background-color: #fff;
    border: 2px solid #eee;
}

.js .accordion:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    font-size: 30px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.js .active:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f077";
}

section.second-subtitle p {
    text-align: left;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.about-caption {
    margin: auto;
    margin-bottom: 15px;
    margin-top: -25px;
    background-color: #ddd;
    border-radius: 20px;
    width: 50%;
    font-style: italic;
    line-height: 1em;
    padding-top: 5px;
}

.about-author {
    padding: 0px !important;
    text-align: center !important;
    margin: auto !important;
    font-size: 90%;
    font-style: normal;
    padding-bottom: 5px !important;
}

div.about-image {
    padding: 25px;
}

div.about-image img {
    border-radius: 20px;
    border: 1px solid #ccc;
}

/* Services */

section.services h2 {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 40px;
}

section.services .tile article {
    padding-right: 15px;
    border-radius: 20px;
}

section.services .tile p.title {
    font-size: calc(5 * 0.5625 * 2vw);
    text-align: right;
    padding: 10px;
    animation-duration: 200ms;
    overflow-x: hidden;
    padding-top: 0;
}

section.services .tile p.title:hover {
    font-size: 1.8em;
}

section.services .tile p.subtitle {
    font-size: 1em;
    text-align: center;
    padding: 10px;
}

section.services .content {
    margin-top: 10px;
    text-align: left;
    width: 100%;
    position: relative;
    right: 10px;
}

/* Projects */

section.projects .tile article {
    border-radius: 20px;
}

section.projects div.tile .title {
    text-align: right;
    font-size: calc(5 * 0.5625 * 2vw);
}

section.projects div.tile .subtitle {
    text-align: right;
}

section.projects div.tile .content {
    padding-top: 30px;
    text-align: left;
}

section.projects article.tile {
    margin: 10px !important;
}

section.projects>h2 {
    padding: 30px;
    padding-top: 0px;
}

/* Team */

section.section.team {
    width: 95%;
    margin-bottom: 50px;
}

section.team > :nth-child(3) {
    margin-top: 50px;
}

section.team article {
    border-radius: 10px;
    transition-duration: 400ms;
}

section.team div.tile article:hover {
    border: 3px solid #ccc;
    border-radius: 20px;
}

section.team div.tile article div.is-card:hover {
    border-radius: 20px;
    transform: translateY(calc(-50% - 5px));
}

section.team .tile {
    justify-content: flex-start;
}

section.team .title {
    font-size: 1.5em;
}

section.team figure {
    margin: auto;
    margin-top: 0;
}

section.team figure img {
    border: 3px solid #ccc;
}

section.team .media-left {
    margin: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 200px;
}

section.team p.title {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 10px;
}

section.team h2.team-subtitle {
    font-size: 0.9em;
    padding: 0;
    width: 100%;
    line-height: 1.1em;
}

section.team article.tile {
    padding: 10px;
}

section.team > div.tile > :nth-child(2) {
    transform: translateY(60px)
}

section.team > div.tile > :nth-child(3) {
    transform: translateY(-80px)
}

.team .is-card {
    padding: 0;
    margin: auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.team article.is-child img {
    width: 150px;
}

/* Footer */

div.share-social {
    background-color: #565656;
    color: white;
    height: 120px;
    line-height: 140px;
}

div.share-social h2 {
    line-height: 1em;
    top: 20px;
    position: relative;
}

div.share-social img {
    height: 40px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    background-color: #363636;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Hashtags */

.js a.hashtag {
    color: #cf4b00;
}

    .js a.hashtag:hover {
        color: #ff5c00;
        border-bottom: 1px dashed #999;
    }

/* No JS */

.no-js section.main-title::after {
    content: "Para una mejor experiencia por favor habilite JavaScript o actualice su navegador";
    color: #fff;
    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
    display: block;
}

.no-js button.accordion {
    width: 100%;
    display: block;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 1em;
    border: 3px solid #eee;
}

.no-js div.tile article {
    background-image: linear-gradient(90deg,
            rgb(146, 238, 199),
            rgb(171, 222, 209));
}

.no-js div.tile article:hover {
    transition-duration: 400ms;
    border: 20px solid rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(45deg,
            rgb(214, 165, 240),
            rgb(230, 140, 247));
}

.no-js .team div.tile article:hover {
    background-image: linear-gradient(90deg,
            rgb(146, 238, 199),
            rgb(171, 222, 209));
    border: 3px solid #eee;
}

.no-js div.navbar-menu is-active {
    text-align: left;
}

/* Media Queries */


@media only screen and (min-width: 1601px) {
    
    section.section {
        width: 100ch;
        margin: auto;
    }
    
    section.main-title {
        width: 100%;
    }
    
    section.section.main-title img {
        width: 600px;
    }
    
    section.section.team {
        width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
    
    section.content img {
        width: 100%;
        margin: 0;
    }
    
    section.main-title img {
        width: 40%;
        display: block;
        margin: auto;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: 350px;
        height: 100px;
        width: 100%;
    }

    div.tile.is-ancestor {
        margin-left: 10%;
        margin-right: 10%;
    }

    .accordion {
        margin: auto;
        margin-bottom: 20px;
        width: 70%;
    }

    .media-content {
        overflow: hidden;
    }

    section.team .tile {
        justify-content: flex-start;
    }

    section.team h2 {
        padding-bottom: 40px;
    }
    
    footer .tile.is-ancestor {
        margin: auto;
    }
    
    footer > div {
        width: 1000px;
    }
    
    footer > h6 {
        width: 1000px;
        margin: auto;
    }
}


@media only screen and (min-width: 1367px) and (max-width: 1600px) {
    
    section.section {
        width: 110ch;
        margin: auto;
    }
    
    section.main-title {
        width: 100%;
    }
    
    section.content img {
        width: 100%;
        margin: 0;
    }
    
    section.main-title img {
        width: 40%;
        display: block;
        margin: auto;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: calc(0.5625 * 40vw);
        height: 100px;
        width: 100%;
    }

    div.tile.is-ancestor {
        margin-left: 10%;
        margin-right: 10%;
    }

    .accordion {
        margin: auto;
        margin-bottom: 20px;
        width: 70%;
    }

    .media-content {
        overflow: hidden;
    }

    section.team .tile {
        justify-content: flex-start;
    }

    section.team h2 {
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    
    .js .navbar {
        font-size: calc(0.5625 * 2vw);
    }
    
    .js .navbar-menu a.navbar-item:not(:last-child):after {
        transform: scaleY(300%)
    }
    
    section.section {
        width: 105ch;
        margin: auto;
    }
    
    section.main-title {
        width: 100%
    }
    
    section.content img {
        width: 100%;
        margin: 0;
    }
    
    section.main-title img {
        width: 40%;
        display: block;
        margin: auto;
    }

    div.spacer {
        position: relative;
        display: block;
        margin-top: calc(0.5625 * 30vw);
        height: calc(20px + 0.5625 * 25vw);
        width: 100%;
    }

    div.tile.is-ancestor {
        margin-left: 10%;
        margin-right: 10%;
    }

    .accordion {
        margin: auto;
        margin-bottom: 20px;
        width: 70%;
    }

    .media-content {
        overflow: hidden;
    }
    
    section.section.team {
        width: 90%;
        margin-bottom: 50px;
    }
    
    section.team div.tile.is-ancestor {
        margin: 0;
    }

    section.team > h2 + div.tile.is-ancestor {
        margin-top: 50px;
    }

    section.team .tile {
        justify-content: flex-start;
    }

    section.team h2 {
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1023px) {
    
    section.section {
        width: 80ch;
        margin: auto;
    }
    
    section.main-title {
        width: 100%
    }
    
    
    section.services .tile p.title {
        font-size: 1.3em;
        line-height: 1em;
    }

    section.projects .tile p.title {
        font-size: 1.3em;
        line-height: 1em;
    }

    div.is-card i {
        font-size: 2.2em;
    }

    article div.content {
        line-height: 1.3em;
    }

    section.main-title img {
        width: 45%;
        display: block;
        margin: auto;
    }

    section#about {
        margin-top: 40px;
    }
    
    div.spacer {
        position: relative;
        display: block;
        margin-top: calc(0.5625 * 40vw);
        height: 100px;
        width: 100%;
    }
    
    section.section.team {
        width: 90%;
        margin-bottom: 50px;
    }
    
    section.team div.tile.is-ancestor {
        margin: 0;
    }

    section.team > h2 + div.tile.is-ancestor {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    section.section {
        width: 70ch;
        margin: auto;
    }
    
    section.main-title {
        width: 100%
    }
    
    section.main-title img {
        width: 60%;
        display: block;
        margin: auto;
    }
    
    section.services .tile p.title {
        font-size: 1.3em;
        line-height: 1em;
    }

    section.projects .tile p.title {
        font-size: 1.3em;
        line-height: 1em;
    }

    div.is-card i {
        font-size: 2.2em;
    }

    article div.content {
        line-height: 1.6em;
    }

    section#about {
        margin-top: 40px;
    }
    
    div.spacer {
        position: relative;
        display: block;
        margin-top: calc(0.5625 * 55vw);
        height: 100px;
        width: 100%;
    }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
    
    section.main-title {
        padding: 0;
        font-size: 0.75em;
    }
    
    section.main-title img {
        padding-top: 20px;
        width: 90%;
        display: block;
        margin: auto;
    }
    
    div.spacer {
        position: relative;
        display: block;
        margin-top: 270px;
        height: 100px;
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    
    section.main-title {
        padding: 0;
    }
    
    section.main-title img {
        width: 90%;
        padding: 10px;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
    
    div.spacer {
        position: relative;
        display: block;
        margin-top: 250px;
        height: 100px;
        width: 100%;
    }
    
    .js .navbar-menu a.navbar-item {
        text-align: left;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .js .navbar-start :last-child {
        transition-duration: 400ms;
    }

    .js .navbar-start :last-child:after {
        content: "Buscar";
        position: relative;
        left: 10px;
        font-weight: 500;
        transition-duration: 800ms;
    }

    .js .navbar-start :last-child:hover {
        background-color: #EB6113!important;
        color: white!important;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition-duration: 400ms;
    }

    .js .navbar-start :last-child:hover :after {
        color: rgba(0,0,0,0);
        margin-right: -70px;
    }

    .js .navbar-menu .navbar-start :nth-child(odd) {
        text-align: left;
        padding-right: 20px;
    }

    .js .navbar-menu a.navbar-item:after {
        content: ""!important;
    }

    .js .navbar-menu a.navbar-item:not(:nth-child(even)):not(:last-child):hover {
        padding-left: 30px;
        padding-right: 0px;
    }

    .js .navbar-menu a.navbar-item:not(:nth-child(odd)):not(:last-child):hover {
        padding-left: 30px;
        padding-right: 0px;
    }

    .js .navbar-start :last-child {
        text-align: center!important;
        transition-duration: 400ms;
    }

    .js .navbar-start :last-child:hover {
        color: white;
        background-color: #EB6113;
    }

    .js .navbar-end .navbar-item {
        padding-left: 0px;
        padding-right: 0px;
    }

    .js .navbar-end .navbar-item a {
        padding: 0px;
        transition-duration: 400ms;
        font-size: 16px;
        margin: auto;
        background-color: rgba(0,0,0,0);
        color: black;
    }
    
    .js .navbar-end > :first-child {
        margin-top: 10px;
    }
    
    .js .navbar-end > :last-child a {
        color: #EB6113;
    }

    .js .navbar-end .navbar-item :hover {
        background-color: #EB6113;
    }

    .js .navbar-end .navbar-item :hover a {
        color: white;
        font-size: 1.2em;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 510px) and (max-width: 769px) {

    section.team div.tile article div.is-card:hover {
        border-radius: 20px;
        transform: translateY(-5px);
    }
    
    section.team h2.team-subtitle {
        font-size: 0.9em;
        padding: 0;
        width: 100%;
        line-height: 1.1em;
    }

    section.team > div.tile > :nth-child(2) {
        transform: translateY(0);
    }

    section.team > div.tile > :nth-child(3) {
        transform: translateY(0);
    }
    
    section.team .is-card {
        margin-top: -10px;
        margin-bottom: 20px;
        transform: translate(0px);
    }
    
    section.team .media {
        position: relative;
        right: 26vw;
        top: 25px;
    }
    
    section.team article.is-child img {
        width: 180px;
        position: relative;
        top: 20px;
    }
    
    section.team > div.is-ancestor p.title {
        position: fixed;
        right: 10px;
        top: 20px;
        width: 200px;
        display: block;
        font-size: calc(6 * 0.5625 * 1vw);
        text-align: right!important;
    }
    
    section.team > div.is-ancestor h2.team-subtitle {
        position: fixed;
        text-align: right;
        right: 10px;
        bottom: calc((15) * 0.5625 * -1vw);
        width: 200px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    } 

    .team article.is-child img {
        width: 150px;
    }
}

@media only screen and (max-width: 509px) {

    section.team div.tile article div.is-card:hover {
        border-radius: 20px;
        transform: translateY(-5px);
    }
    
    section.team h2.team-subtitle {
        font-size: 0.9em;
        padding: 0;
        width: 100%;
        line-height: 1.1em;
    }

    section.team > div.tile > :nth-child(2) {
        transform: translateY(0);
    }

    section.team > div.tile > :nth-child(3) {
        transform: translateY(0);
    }
    
    section.team .is-card {
        margin-top: -10px;
        margin-bottom: 10px;
        transform: translate(0px);
    }
    
    section.team .media-left {
        margin-right: auto;
        margin-left: auto;
    }
    
    section.team article.is-child img {
        width: 180px;
        position: relative;
        top: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    section.team > div.is-ancestor p.title {
        position: fixed;
        top: 20px;
        width: 100%;
        display: block;
        font-size: calc(8 * 0.5625 * 1vw);
    }
    
    section.team > div.is-ancestor h2.team-subtitle {
        position: relative;
        margin-top: -10px;
        bottom: calc(-10% + (10) * 0.5625 * -1vw);
        width: 90%;
    } 
}

@media only screen and (min-width: 401px) and (max-width: 1023px) {

    .js .navbar-menu a.navbar-item {
        text-align: left;
        padding-left: 20px;
    }

    .js .navbar-start :last-child {
        transition-duration: 400ms;
    }

    .js .navbar-start :last-child:after {
        content: "Buscar";
        position: relative;
        left: 10px;
        font-weight: 500;
        transition-duration: 800ms;
    }

    .js .navbar-start :last-child:hover {
        background-color: #EB6113!important;
        color: white!important;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition-duration: 400ms;
    }

    .js .navbar-start :last-child:hover :after {
        color: rgba(0,0,0,0);
        margin-right: -70px;
    }

    .js .navbar-menu .navbar-start :nth-child(odd) {
        text-align: right;
        padding-right: 20px;
    }

    .js .navbar-menu a.navbar-item:not(:nth-child(odd)):after {
        content: "";
    }

    .js .navbar-menu a.navbar-item:not(:nth-child(odd)):not(:last-child):before {
        content: "->";
        color: #EB6113;
    }

    .js .navbar-menu a.navbar-item:not(:nth-child(even)):after {
        content: "<-";
    }

    .js .navbar-menu a.navbar-item:not(:nth-child(even)):not(:last-child):hover {
        padding-left: 0px;
        padding-right: 30px;
    }

    .js .navbar-menu a.navbar-item:not(:nth-child(odd)):not(:last-child):hover {
        padding-left: 30px;
        padding-right: 0px;
    }

    .js .navbar-start :last-child {
        text-align: center!important;;
        transition-duration: 400ms;
    }

    .js .navbar-start :last-child:hover {
        color: white;
        background-color: #EB6113;
    }

    .js .navbar-end .navbar-item {
        padding-left: 0px;
        padding-right: 0px;
    }

    .js .navbar-end .navbar-item a {
        padding: 0px;
        transition-duration: 400ms;
        font-size: 16px;
        margin: auto;
        background-color: rgba(0,0,0,0);
        color: black;
    }
    
    .js .navbar-end > :first-child {
        margin-top: 20px;
    }
    
    .js .navbar-end > :last-child a {
        color: #EB6113;
    }

    .js .navbar-end .navbar-item :hover {
        background-color: #EB6113;
    }

    .js .navbar-end .navbar-item :hover a {
        color: white;
        font-size: 1.2em;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}