@keyframes animations_main-title {
  0% {
    opacity: inherit;
  }

  100% {
    opacity: 1;
  }
}
@keyframes animations_main-title {
  0% {
    opacity: inherit;
  }

  100% {
    opacity: 1;
  }
}
