$light-primary: #eee !default;
$light-primary-highlight: #888 !default;
$light-secondary: #ccc !default;
$dark-primary: #333 !default;
$dark-secondary: #565656 !default;
$background-primary: #fff !default;
$background-primary-highlight-soft: #f2f2f2 !default;
$accent-primary: #eb6113 !default;
$accent-primary-darkened: #cf4b00 !default;
$accent-logo: #090 !default;
$light-text: #252525 !default;
$light-text-high-contrast: #000 !default;
$main-title-gradient-a: linear-gradient(45deg, #3c9, #3cc, #39c) !default;
$main-title-gradient-b: linear-gradient(45deg, #6c3, #3c3, #3c6) !default;

$transition-duration-primary: 400ms !default;
$transition-duration-short: 200ms !default;
$transition-duration-long: 800ms !default;
$transition-duration-flair: 2000ms !default;

$border-radius-primary: 20px !default;
$border-radius-secondary: 10px !default;
$border-thickness-primary: 3px !default;
$border-thickness-thin: 1px !default;
$border-thickness-focus: 10px !default;
