@use '../../vendor/bourbon' as bourbon;
@use '../helpers';
@use '../variables' as *;

%base_navbar-item {
  @include helpers.transition-primary;
  padding: 5px;
  > svg {
    fill: $light-text;
    width: 1.2em;
  }
}
%base_navbar-brand {
  .navbar-item {
    @extend %base_navbar-item;
    path {
      width: 48px;
      @include helpers.transition-primary;
    }
    &:hover {
      path {
        fill: $accent-logo;
      }
    }
  }
}
%base_navbar-start {
  .navbar-item {
    @extend %base_navbar-item;
    &:hover {
      &:not(.buttons) {
        background-color: $background-primary-highlight-soft;
        color: $accent-primary;
        @include bourbon.padding(null 10px);
      }
    }
    &:not(:last-child) {
      &::after {
        color: $accent-primary;
        content: "|";
        left: 5px;
        position: relative;
        @include helpers.scale(Y, 2);
      }
      &:hover {
        &::after {
          @include helpers.multi-transform((scale, Y, "2"), (translate, X, "7px"));
        }
      }
    }
    &:last-child {
      &:hover {
        svg {
          @include helpers.scale("", 1.1);
        }
      }
    }
  }
}
%base_navbar-end {
  .navbar-item {
    @extend %base_navbar-item;
  }
}
%base_navbar-menu {
  .navbar-start {
    @extend %base_navbar-start;
  }
  .navbar-end {
    @extend %base_navbar-end;
  }
  @import "./@media/<xs/navbar";
  @import "./@media/<l/navbar";
}
