@use '../../../../vendor/bourbon';
@use '../../../util/helpers';
@use '../../variables' as *;

@mixin item {
  @include helpers.transition-primary;
  padding: 5px;
  > svg {
    fill: $light-text;
    width: 1.2em;
  }
}
@mixin brand {
  .navbar-item {
    @include item;
    path {
      width: 48px;
      @include helpers.transition-primary;
    }
    &:hover {
      path {
        fill: $accent-logo;
      }
    }
  }
}
@mixin start {
  .navbar-item {
    @include item;
    &:hover {
      &:not(.buttons) {
        background-color: $background-primary-highlight-soft;
        color: $accent-primary;
        @include bourbon.padding(null 10px);
      }
    }
    &:not(:last-child) {
      &::after {
        color: $accent-primary;
        content: "|";
        left: 5px;
        position: relative;
        @include helpers.scale(Y, 2);
      }
      &:hover {
        &::after {
          @include helpers.multi-transform((scale, Y, "2"), (translate, X, "7px"));
        }
      }
    }
    &:last-child {
      &:hover {
        svg {
          @include helpers.scale("", 1.1);
        }
      }
    }
  }
}
@mixin end {
  .navbar-item {
    @include item;
  }
}
%menu {
  .navbar-start {
    @include start;
  }
  .navbar-end {
    @include end;
  }
  @import "../@media/<xs/navbar";
  @import "../@media/<l/navbar";
}
@mixin menu {
  @extend %menu;
}
