Los problemas de salud humana, salud y seguridad alimentaria, y de bienestar social, están embebidos en problemas de conservación de la naturaleza y del manejo de recursos naturales.

La salud humana y la salud de los servicios que brinda la naturaleza son afectados por actividades humanas.

Los servicios que brinda la naturaleza son recursos naturales comunes o compartidos (aire, agua, suelo) que nos llegan como beneficios espontáneos de la naturaleza y son vitales.

La suma de pequeños impactos individuales humanos tiene efectos muy importantes sobre la salud ambiental y humana, y finalmente, sobre la seguridad alimentaria y el bienestar social.

Es por ello que la conjunción de mecanismos de articulación, desarrollo humano y tecnológico, herramientas de cooperación entre organizaciones, espacios educativos, artísticos y multimedios, ayudan a encontrar soluciones prácticas en entornos donde el tiempo es limitado.

Además, la verificación de la información difundida es clave para establecer bases sólidas para la realización y alcance de metas.

El desarrollo de nodos o sistemas de cooperación y articulación es una herramienta sólida para ayudar a que los proyectos de educación ambiental, conservación de la naturaleza y salud alimentaria y ambiental, logren sus metas. Entre ellas, la reducción del impacto humano sobre el ambiente en que vivimos y convivimos.