---
layout: default
---
<style type="text/css">
    @import url("/assets/css/blog.css");
</style>

<section class="section main-title">
    <img src="/assets/images/logo_navigation.svg">
    <h2 class="main-title">InfoBlog</h2>
</section>
<div class="spacer"></div>

<section class="blog-nav">
    <nav class="navbar-blog" role="navigation" aria-label="blog navigation">
        <div class="navbar-start">

            <a href="/pages/blog/categories.html" class="navbar-item">
                Categor&iacute;as
            </a>

            <a href="/pages/blog/tags.html" class="navbar-item">
                Etiquetas
            </a>
        </div>
    </nav>
</section>

<section class="section services">
    {% for post in site.posts %}
    {% if forloop.index == 0 %}
    <div class="tile is-ancestor">
        {% endif %}

        {% assign modulo_check = forloop.index0 | modulo: 3 %}

        {% if modulo_check == 0 %}
    </div>
    <div class="tile is-ancestor">
        {% endif %}
        <div class="tile is-parent is-4">
            <div class="tile">
                <div class="tile is-vertical">
                    <article class="blog-post tile is-child services-{{forloop.index}}">
                        <a href="{{post.url}}">
                            <div class="is-card">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-12">{{post.title}}</p>
                                    </div>
                                </div>
                                <div class="content">
                                    {{ post.excerpt }}
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
