---
layout: default
title: Contacto
---

<section class="section services">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <div class="tile is-vertical">
                <article class="tile is-child services-1 blog-post">
                        <div class="is-card">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-12">¡&Eacute;xito!</p>
                                    <p class="title is-12">Gracias por ponerse en contacto con nosotros.</p>
                                </div>
                            </div>
                        </div>
                </article>
            </div>
        </div>
    </div>
</section>

