---
layout: default
title: Contacto
---

<style type="text/css">
    @import url("/assets/css/contact.css");
</style>

<section class="section form">
    <Form action="https://contactform.nodoambiental.org" method="post">
        <div>
            <label for="email">e-mail</label>
            <input type="email" name="email" id="form-email" placeholder="juanperez@ejemplo.com" />
        </div>
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="form-name" placeholder="Juan" />
        </div>
        <div>
            <label for="surname">Apellido</label>
            <input type="text" name="surname" id="form-surname" placeholder="Perez" />
        </div>
        <div>
            <label for="organization">Organizaci&oacute;n o empresa</label>
            <input type="text" name="organization" id="form-organization" placeholder="Garbanzos Solidarios S.A." />
        </div>
        <div>
            <label for="position">Cargo que ocupa</label>
            <input type="text" name="position" id="form-position" placeholder="Director Ejecutivo" />
        </div>
        <div>
            <label for="composed_text">Mensaje</label>
            <textarea name="composed_text" id="form-compoed_text" rows="10" cols="50" placeholder="Ingrese su mensaje aqu&iacute;">
            </textarea>
        </div>
        <div>
            <label for="subscribe">Suscribirme a noticias y mensajes informativos de Nodo Ambiental.</label>
            <input type="checkbox" name="subscribe" id="form-subscribe"/>
        </div>
        <div>
            <input type="submit" value="Enviar datos">
        </div>
    </Form>
</section>

