---
layout: default
---

<section class="section main-title">
    <h1 class="main-title">{{ site.title }}</h1>
    <h2 class="main-title">Informaci&oacute;n y nexos para la preservaci&oacute;n del ambiente, el desarrollo sostenible y el bienestar social</h2>
</section>
<ul class="posts">
    {% for post in page.posts %}
    <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>

{{ content }}