---
layout: default
---

<section class="section main-title">
    <img src="/assets/images/logo_navigation.svg">
    <h2 class="main-title">Informaci&oacute;n y nexos para la preservaci&oacute;n del ambiente, el desarrollo sostenible y el bienestar social</h2>
</section>
<div class="spacer"></div>

<section class="section main-subtitle">
    <h1>&iquest;Qu&eacute; buscamos?</h1>
    <p>{{ page.teaser }}</p>
    <div class="list teaser-data">
        <a class="list-item">
            {{ page.teaser_data1 }}
        </a>
        <a class="list-item">
            {{ page.teaser_data2 }}
        </a>
        <a class="list-item">
            {{ page.teaser_data3 }}
        </a>
    </div>
</section>

{% include services.html %}

{% include projects.html %}

{% include team.html %}

{{ content }}