---
layout: status-message
title: ¡Gracias por ponerte en contacto con nosotros!
---

<style type="text/css">
  @import url("/assets/css/project.css");
</style>

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1 style="text-align: center; margin-top: 100px; font-size: 2em;">
    Tus datos fueron procesados correctamente.
  </h1>
  <p style="text-align: center; font-size: 3em; margin-bottom: 50px;">
    😊
  </p>
  <p style="text-align: center">
    A la brevedad recibirás un correo electrónico de confirmación a la direccion proporcionada.
  </p>
  <hr style="background-color: #444;">
  <p style="text-align: center">
    Si pasado un tiempo no recibes el correo, quizás fue procesado como spam, revisa bien tu casilla.
  </p>
  <p style="text-align: center">
    Si aún no hay correo, entonces posiblemente se nos rompió algo
  </p>
  <p style="text-align: center; font-size: 2em;">
    😔
  </p>
  <p style="text-align: center; padding-bottom: 100px">
    Puedes contactarnos en <a href="mailto:soporte@nodoambiental.org"><strong>soporte@nodoambiental.org</strong></a> detallando el problema.
  </p>
</div>
