---
layout: default
title: ¡Me interesa participar!
---

<script src="/assets/js/leadgen-form.js"></script>

<style type="text/css">
    @import url("/assets/css/leadgen.css");
</style>

<section class="section form">
    <p style="text-align: left; margin-left:10%;">
        ¡Hola! Por lo visto te interesa participar de lo que estamos construyendo en Nodo Ambiental.<br>
        Para eso, te voy a pedir por favor que rellenes los campos solicitados así podemos ponernos en contacto.<br><br>
        ¡Gracias!
    </p>
    <p class="required-field">
        Campos requeridos en rojo.
    </p>
    <Form id="leadgen-form">
        <div>
            <label class="required-field"  for="name">Tu nombre</label>
            <input type="text" name="name" id="form-name" placeholder="Abraham Lincoln" required/>
        </div>
        <div>
            <label class="required-field"  for="email">Tu dirección de correo electrónico</label>
            <input type="email" name="email" id="form-email" placeholder="abrahamlincoln@ejemplo.com"  required/>
        </div>
        <div>
            <label for="organization">Organizaci&oacute;n o empresa a la que pertences</label>
            <input type="text" name="organization" id="form-organization" placeholder="Garbanzos Solidarios S.A." />
        </div>
        <div>
            <label for="role">Cargo que ocupas en ella</label>
            <input type="text" name="role" id="form-role" placeholder="Mánager de garbanzos" />
        </div>
        <div>
            <label for="message">¿Quieres decirnos algo?</label>
            <textarea name="message" id="form-message" rows="10" cols="50" placeholder="Ingrese su mensaje aqu&iacute;">
            </textarea>
        </div>
        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" name="mailing_list" id="form-mailing_list">
                <span class="checkbox-custom rectangular"></span>
            </label>
            <div class="input-title">Suscribirme a noticias y mensajes informativos de Nodo Ambiental</div>
        </div>
            <input type="button" value="Enviar datos" onclick="leadgenSend()">
        </div>
    </Form>
</section>

