---
layout: default
title: ¡Me interesa participar!
---

<style type="text/css">
    @import url("/assets/css/leadgen.css");
</style>

<section class="section form js">
    <p style="text-align: left; margin-left:10%;">
        ¡Hola! Gracias por tu interés en aplicar a una membresía para Nodo Ambiental.<br>
        Para eso, te voy a pedir por favor que rellenes los campos solicitados así podemos ponernos en contacto.<br><br>
        ¡Gracias!
    </p>
    <p class="required-field">
        Campos requeridos en rojo.
    </p>
    <Form id="leadgen-form">
        <div>
            <label class="required-field"  for="ID-kind">Tipo de Documento Identificatorio</label>
            <input type="text" name="ID-kind" id="form-ID-kind" placeholder="DNI, LC, Pasaporte, CURP, SSN, ..." required/>
        </div>
        <div>
            <label class="required-field"  for="ID">Documento Identificatorio</label>
            <input type="text" name="ID" id="form-ID" placeholder="99 999 998"  required/>
        </div>
        <div>
            <label class="required-field"  for="organization" for="zip">Código Postal</label>
            <input type="text" name="zip" id="form-zip" placeholder="T4000" required/>
        </div>
        <div>
            <label for="role">Cargo u ocupación</label>
            <input type="text" name="role" id="form-role" placeholder="Mánager de garbanzos" />
        </div>
        <div>
            <label class="required-field"  for="message">Dinos por qué aplicas a nuestra organización</label>
            <textarea name="message" id="form-message" rows="10" cols="50" placeholder="Ingrese su mensaje aqu&iacute;" required>
            </textarea>
        </div>
        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" name="tos" id="form-tos" required>
                <span class="checkbox-custom rectangular" style="border-color: red;"></span>
            </label>
            <div class="input-title" style="color:red;">Acepto los <a href="#">Términos de servicio</a></div>
        </div>
            <input id="form-send" type="button" value="Enviar datos" onclick="membershipSend()">
        </div>
    </Form>
</section>

<noscript>
    <section class="section">
        <p style="text-align: center; font-size: 1.5em; margin-top: 100px; margin-bottom: 100px;">
            Este formulario de contacto requiere de JavaScript. <br>
            No te preocupes, que no recolectamos información alguna y solamente es requerido para poder procesar el formulario.
        </p>
    </section>
</noscript>

<script src="/assets/js/membership-form.js"></script>

