---
layout: default
---

<section class="section main-title">
    <img src="/assets/images/logo_navigation.svg">
    <h2 class="main-title">{{ page.title }}</h2>
</section>
<div class="spacer"></div>

<section class="section services">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child services-1">
                        <div class="is-card">
                            <div class="media">
                                <div class="media-left">
                                    <figure>
                                        <i class="fas fa-{{ page.portal1_icon }}"></i>
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-12">{{ page.portal1_name }}</p>
                                </div>
                            </div>
                            <div class="content">
                                {{ page.portal1_description }}
                            </div>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child services-2">
                        <div class="is-card">
                            <div class="media">
                                <div class="media-left">
                                    <figure>
                                        <i class="fas fa-{{ page.portal2_icon }}"></i>
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-12">{{ page.portal2_name }}</p>
                                </div>
                            </div>
                            <div class="content">
                                {{ page.portal2_description }}
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="tile is-parent">
                <article class="tile is-child services-3">
                    <div class="is-card">
                        <div class="media">
                            <div class="media-left">
                                <figure>
                                    <i class="fas fa-{{ page.portal3_icon }}"></i>
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-12">{{ page.portal3_name }}</p>
                            </div>
                        </div>
                        <div class="content">
                            {{ page.portal3_description }}
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="section">
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
</section>

