---
layout: default
---

<section class="section main-title">
    <img src="/assets/images/logo_navigation.svg">
    <h2 class="main-title">{{ page.title }}</h2>
</section>
<div class="spacer"></div>

<section class="section services">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child services-1">
                        <div class="is-card">
                            <div class="media">
                                <div class="media-left">
                                    <figure>
                                        <i class="fas fa-{{ page.empresas_icon }}"></i>
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-12">Empresas</p>
                                </div>
                            </div>
                            <div class="content">
                                {{ page.empresas }}
                            </div>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child services-3">
                        <div class="is-card">
                            <div class="media">
                                <div class="media-left">
                                    <figure>
                                        <i class="fas fa-{{ page.gobierno_icon }}"></i>
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-12">Gobierno</p>
                                </div>
                            </div>
                            <div class="content">
                                {{ page.gobierno }}
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    {{ page.content | markdownify }}
</section>

