---
layout: default
---

<section class="section">
    {{page.content | markdownify}}
</section>

<section class="section services">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child services-1">
                        <a class="expandable_card">
                            <div class="is-card">
                                <div class="media">
                                    <div class="media-left">
                                        <figure>
                                            <i class="fas fa-{{ page.card1_icon }}"></i>
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-12">{{ page.card1_title }}</p>
                                    </div>
                                </div>
                                <div class="content contracted">
                                    {{ page.card1_text }}
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child services-2">
                        <a class="expandable_card">
                            <div class="is-card">
                                <div class="media">
                                    <div class="media-left">
                                        <figure>
                                            <i class="fas fa-{{ page.card2_icon }}"></i>
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-12">{{ page.card2_title }}</p>
                                    </div>
                                </div>
                                <div class="content contracted">
                                    {{ page.card2_text }}
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/js/cards.js"></script>

