---
layout: default
title: Ser parte de Nodo Ambiental
---

<style type="text/css">
    @import url("/assets/css/contact.css");
</style>

<section class="section services">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <div class="tile is-vertical">
                <article class="tile is-child services-1 blog-post">
                        <div class="is-card">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-12">¡Hola!</p>
                                    <p class="title is-12">Gracias por interesarse en participar de Nodo Ambiental.</p>
                                </div>
                            </div>
                        </div>
                </article>
                <article class="tile is-child services-1 blog-post">
                        <div class="is-card">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-12">Requerimos que llene un formulario para poder realizar el registro:</p>
                                    <div class="buttons">
                                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdrZFqOx-pOEQzUsBImu8I0TeznUL0wbEUzD6HXZ1XSjyEBQg/viewform?usp=sf_link" class="button is-primary">
                                            <strong>Ir al formulario</strong>
                                        </a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                </article>
            </div>
        </div>
    </div>
</section>


