---
layout: default
title: Ser parte de Nodo Ambiental
---

<style type="text/css">
    @import url("/assets/css/contact.css");
</style>

<section class="section services">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <div class="tile is-vertical">
                <p class="title is-12">¡Hola!</p>
                <p class="title is-12">Gracias por interesarse en participar de Nodo Ambiental</p>
                <article class="tile is-child services-1 blog-post">
                        <div class="is-card">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-12">Tenemos al menos 3 formas de relacionarnos:</p>
                                    <ul>
                                        <li>
                                            <b>Membresía:</b> personas que esperan construir una relación a largo plazo, comprometida y ad honorem, dentro del equipo de trabajo. 
                                            Contacte a <a href="mailto:admin@fna.org.ar">admin@fna.org.ar</a>.
                                        </li>
                                        <li>
                                            <b>Voluntariado:</b> personas comprometidas que tienen una relación por contrato bajo la <a href="https://www.argentina.gob.ar/desarrollosocial/cenoc/leydevoluntariadosocial">Ley Nacional de Voluntariado 25855</a> y bajo registro con el <a href="https://www.argentina.gob.ar/desarrollosocial/cenoc">Centro Nacional de Organizaciones de la Comunidad (CENOC)</a>. 
                                            Las actividades pueden ser en terreno o virtuales. 
                                            Contacte a <a href="mailto:voluntariado@fna.org.ar">voluntariado@fna.org.ar</a>.
                                        </li>
                                        <li>
                                            <b>Asesorías y servicios:</b> personas contratadas para brindar un servicio pagado por Fundación Nodo Ambiental. 
                                            Típicamente necesitamos asesoría contable, jurídica, administrativa o de interconsulta. 
                                            Si tiene un servicio que ofrecer, contacte a <a href="mailto:admin@fna.org.ar">admin@fna.org.ar</a>.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="section services">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <div class="tile is-vertical">
                <article class="tile is-child services-1 blog-post">
                        <div class="is-card">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-12">Si tiene interés en adquirir una membresía, requerimos que llene un formulario de registro:</p>
                                    <div class="buttons is-centered">
                                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdrZFqOx-pOEQzUsBImu8I0TeznUL0wbEUzD6HXZ1XSjyEBQg/viewform?usp=sf_link" class="button is-large is-primary">
                                            <strong class="m-3">Quiero una membresía</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </article>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent is-12">
            <div class="tile is-vertical">
                <article class="tile is-child services-1 blog-post">
                        <div class="is-card">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-12">Si tiene interés en participar del voluntariado, requerimos que llene un formulario de registro:</p>
                                    <div class="buttons is-centered">
                                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSde3s4K2ALksJWXje7QzSnutmGzot3tT_mb-CIKnteqlBtZrw/viewform?usp=sf_link" class="button is-large is-primary">
                                            <strong class="m-3">Quiero voluntariarme</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </article>
            </div>
        </div>
    </div>
</section>

