---
layout: default
title: InfoBlog
---
<style type="text/css">
    @import url("/assets/css/blog.css");
</style>

<section class="blog-nav">
    <nav class="navbar-blog" role="navigation" aria-label="blog navigation">
        <div class="navbar-start">

            <a href="/pages/blog/categories.html" class="navbar-item">
                Categor&iacute;as
            </a>

            <a href="/pages/blog/main.html" class="navbar-item">
                Posts
            </a>
        </div>
    </nav>
</section>

{% for tag in site.tags %}
<section class="section services">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile">
                <h2 class="tag-name" id="{{ tag[0] }}">{{ tag[0] }}</h2>
            </div>
        </div>
    </div>
    {% for post in tag[1] %}
    {% if forloop.index == 0 %}
    <div class="tile is-ancestor">
        {% endif %}

        {% assign modulo_check = forloop.index0 | modulo: 3 %}

        {% if modulo_check == 0 %}
    </div>
    <div class="tile is-ancestor">
        {% endif %}

        <div class="tile is-vertical is-4">
            <article class="tile is-child services-{{forloop.index}}">
                <div class="is-card">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</section>
{% endfor %}

