@use '../../util/helpers';
@use '../variables' as *;

%base_card_body {
  border: $border-thickness-primary solid $light-secondary;
  border-radius: $border-radius-primary;
  justify-content: center;
  padding: 30px;
  @include helpers.transition-primary-flair;

  a {
    text-decoration: none !important;
  }

  &:hover {
    border: $border-thickness-focus solid $light-primary-highlight;
    border-radius: $border-radius-primary;
  }

  .is-card {
    figure {
      font-size: proportionalText(0%);
      margin: 5%;

      img {
        border-radius: $border-radius-primary;
      }

      svg {
        width: 2em;
      }
    }

    i {
      font-size: proportionalText(200%);
    }

    .content {
      margin-top: 10px;
      position: relative;
      right: 10px;
      text-align: left;
      width: 100%;
    }
  }
}
%base_card_text {
  .title {
    font-size: proportionalText(-10%);
    overflow-x: hidden;
    padding: 10px;
    padding-top: 0;
    text-align: right;
    @include helpers.transition-primary-short;
  }

  .subtitle {
    font-size: 1em;
    padding: 10px;
    text-align: center;
  }
}
